    <!--Content Wrapper. Contains page content -->
    <div id="mod-tag-product" class="">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Nhãn sản phẩm
            <small>Danh sách</small>
        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a class="active">Nhãn sản phẩm</a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Danh sách</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <form name="filterForm" ng-submit="vmTagProduct.filter(vmTagProduct.keyword)">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <select class="form-control" ng-model="vmTagProduct.keyword">
                                        <option value="">Danh mục</option>
                                        <option ng-repeat="tag in vmTagProduct.tagProduct" value="[[tag._id]]">[[tag.name]]</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <button type="submit" name="search"  class="btn btn-success btn-flat">
                                    <i class="fa fa-search"></i>
                                    <span>Filter</span>
                                </button>
                                <a type="button" name="reset"  class="btn btn-default btn-flat" ng-click="vmTagProduct.filterReset()">
                                    <i class="fa fa-undo"></i>
                                    <span>Reset</span>
                                </a>
                            </div>
                        </div>
                    </form>

                    <div ng-repeat="item in vmTagProduct.tags">
                        <label>[[item.name]]</label>
                        <table  class="table table-condensed table-bordered table-striped text-center">
                            <tr>
								<th>
									<div class="col col-num">STT</div>
								</th>
								<th>Tên sản phẩm</th>
								<th>Danh mục</th>
                                <th>Thứ tự hiển thị</th>
								<th>Thời gian hiệu lực</th>
								<th>Hành động</th>
							</tr>
                            <tr ng-repeat="product in item.table | orderBy:'tag_product.order'">
                                <td data-title="'STT'">
                                    <div class="col col-num" ng-bind="$index + 1"></div>
                                </td>
                                <td data-title="'Sản phẩm'">[[product.name]]</td>
                                <td data-title="'Danh mục'">
                                    <span ng-repeat="category in product.category_list">[[category.name]]<span ng-if="!$last">,</span> </span>
                                </td>
                                <td data-title="'Thứ tự hiển thị'">
                                    <a href="#" editable-number="vmTagProduct.order"  onaftersave="vmTagProduct.updateOrder($data,product,item._id,vmTagProduct.order)">
                                        [[product.tag_product.order]]
                                    </a>
                                </td>
                                <td data-title="'Thời gian hiệu lực'">
                                    [[product.tag_product.expire_date.startDate| bzFormatDate:'h:mm DD/MM/YYYY']] - 
                                    [[product.tag_product.expire_date.endDate| bzFormatDate:'h:mm DD/MM/YYYY']]
                                </td>
                                <td  data-title="'Action'">
                                    &nbsp
                                    <a class="btn btn-default" ng-click="vmTagProduct.deleteProduct(product,item._id)">
                                        Xóa
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <a href="" ng-click="vmTagProduct.showForm(item)">
                            <span>Thêm sản phẩm</span>
                        </a>
                        <form novalidate class="formTag" name="frmTag" ng-submit="vmTagProduct.saveProduct(frmTag.$valid,item)" ng-show="item.showForm">
                            <div class="box-body">
                            <div class="row">
                                <div class="col-sm-8">
                                    <!-- Tên sản phẩm -->
                                    <div class="form-group">
                                        <label for="idProduct-[[$index]]">Chọn sản phẩm <span class="required">(*)</span></label>
                                        <select class="form-control" ui-select2 multiple name="idProduct" id="idProduct-[[$index]]" ng-model="item.formData.idProducts" required>
                                            <option ng-repeat="product in item.products" value="[[product._id]]">[[product.name]]</option> 
                                        </select>
                                        <div class="messages-error" ng-messages="frmTag.idProduct.$error" ng-if="vmTagProduct.submitted" >
                                            <div ng-message="required">Bạn chưa chọn sản phẩm</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Thời gian hiệu lực</label>
                                        <input type="text" name="expire_date" ng-model="item.formData.expire_date" atr-date-time-picker atr-options="vmTagProduct.optionTimePicker" class="form-control" required>
                                        <div class="messages-error" ng-messages="frmTag.expire_date.$error" ng-if="vmTagProduct.submitted" >
                                            <div ng-message="required">Bạn chưa chọn thời gian</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button bz-submit type="submit" class="btn btn-success btn-flat btn-submit" ng-class="{'loading-btn': lockForm}" ng-disabled="lockForm">
                                <i ng-if="!vmTagProduct.lockForm"></i>
                                <span>Thêm</span>
                            </button>
                            </div>
                        </form>
                        <br><br><br>
                    </div>
                </div>
                <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
    </div>
    <!-- /.-->