<div id="mod-config-add" class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			Thêm config
		</h1>

		<ol class="breadcrumb">
			<li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a href="#">Config</a></li>
            <li class="active">Add new</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content">

		<!-- SELECT2 EXAMPLE -->
		<div class="box box-default">
			<div class="box-header with-border">
				<h3 class="box-title">Thêm mới</h3>

				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
					<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<form novalidate  id="frmConfig" name="frmConfig" ng-submit="vmAddConfigs.save(frmConfig.$valid)">
					<div class="box-body">
						<!-- Toolbar -->
						<div class="toolbar">
							<div class="form-inline pull-right">
								<div class="form-group form-action">
									
									<a ui-sref="configs" class="btn btn-primary btn-flat">
										<i class="glyphicon glyphicon-remove"></i>
										<span>Hủy bỏ</span>
									</a>
									<button bz-submit type="submit" class="btn btn-success btn-flat btn-submit" ng-class="{'loading-btn': userEdit.lockForm}"
										ng-disabled="lockForm">
										<i class="glyphicon glyphicon-floppy-disk" ng-if="!vmAddConfigs.lockForm"></i>
										<span>Lưu</span>
									</button>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<!-- End: Toolbar -->
						<div class="row">
							<div class="col-sm-6">
								<!-- Tên-->
								<div class="form-group">
									<label for="txtName">Tên:<span class="required">*</span></label>
									<input id="txtName" name="txtName" class="form-control" type="text"  ng-change="vmAddConfigs.generatorName(vmAddConfigs.formData.name)" ng-model="vmAddConfigs.formData.name" ng-pattern="/[a-zA-Z0-9]/"
										required />
									<div class="messages-error" ng-messages="frmConfig.txtName.$error" ng-if="vmAddConfigs.submitted">
										<div ng-message="required">Bạn chưa nhập tên</div>
									</div>
								</div>
                                	<!-- Value -->
								<div class="form-group">
									<label for="txtValue">Giá trị:<span class="required">*</span></label>
									<input id="txtValue" name="txtValue" class="form-control" type="number" ng-model="vmAddConfigs.formData.value" 
										required />
									<div class="messages-error" ng-messages="frmConfig.txtValue.$error" ng-if="vmAddConfigs.submitted">
										<div ng-message="required">Bạn chưa gía trị</div>
										<div ng-message="pattern">Bạn phải nhập 1 số</div>
									</div>
								</div>

								<div class="form-group">
									<label for="txtType">Loại giá trị:</label>
									<select name="txtType" ng-model="vmAddConfigs.formData.type" class="form-control">
										<option value="">Chọn loại</option>
										<option value="PC">Phần trăm</option>
										<option value="MN">Tiền</option>
									</select>
								</div>

                                <!-- Mô ta-->
                                <div class="form-group">
									<label for="txtDes">Mô tả:</label>
									<input id="txtDes" name="txtDes" class="form-control" type="text" ng-model="vmAddConfigs.formData.description"  />
								</div>

								<!-- Active -->
								<div class="form-group" >
									<label>Active</label>
									<br/>
									<input i-check id="chkPublish" type="checkbox" ng-model="vmAddConfigs.formData.status" ng-true-value="true" ng-false-value="false">
                                    Kích hoạt
								</div>
							</div>
						</div>
					</div>
					<div class="box-footer">
						<a ui-sref="configs" class="btn btn-primary btn-flat">
							<i class="glyphicon glyphicon-remove"></i>
							<span>Hủy</span>
						</a>
						<button bz-submit type="submit" class="btn btn-success btn-flat btn-submit" ng-class="{'loading-btn': lockForm}"
							ng-disabled="lockForm">
							<i class="glyphicon glyphicon-floppy-disk" ng-if="!vmAddConfigs.lockForm"></i>
							<span>Lưu</span>
						</button>
					</div>
				</form>
			</div>
		</div>
	</section>
</div>
