<div id="mod-user-recognition" class="module" ng-controller="recognitionDataCtrl as vmRecognition">
    <div class="container">
        <div class="row">
            <div class="col-left col-xs-4">
                {{> web/partials/user/menu_left}}
            </div>
            <div class="col-right col-xs-8" ng-cloak>
                <div class="panel-group" id="accordion" >
                    <div class="panel panel-default" ng-repeat="item in vmRecognition.arraysChart">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#data_char_[[item]]">
                                    Dữ liệu ký tự "[[item]]"
                                </a>
                            </h4>
                        </div>
                        <div id="data_char_[[item]]" class="panel-collapse collapse" ng-class="{in: item == 'a'">
                            <div class="panel-body">
                                <div class="scan">
                                    Ảnh scan:
                                </div>
                                <div class="processed">
                                    Ảnh qua xử lý:
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var userFolder = {{{json userFolder}}}
    </script>