<!--ACE ADMIN-->
<div id="sidebar" class="sidebar                  responsive                    ace-save-state">
    <script type="text/javascript">
        try { ace.settings.loadState('sidebar') } catch (e) { }
    </script>

    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button ui-sref="dashboard({page:1})" class="btn btn-success">
                <i class="ace-icon fa fa-signal"></i>
            </button>

            <button ui-sref="units({page:1})" class="btn btn-info">
                <i class="ace-icon fa fa-pencil"></i>
            </button>

            <button ui-sref="users({page:1})" class="btn btn-warning">
                <i class="ace-icon fa fa-users"></i>
            </button>

            <button ui-sref="configs({page:1})" class="btn btn-danger">
                <i class="ace-icon fa fa-cogs"></i>
            </button>
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div>
    <!-- /.sidebar-shortcuts -->

    <ul class="nav nav-list">
        <li ng-if="pageMethods.authSvc.isSuperAdmin()" ng-class="{'active':pageData.menuType === 'dashboard'}">
            <a ui-sref="dashboard({module: 'dashboard'})">
                <i class="menu-icon fa fa-tachometer"></i>
                <span class="menu-text"> Dashboard </span>
            </a>

            <b class="arrow"></b>
        </li>

        <li ng-class="{'active':pageData.menuType === 'unit'}">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text"> Bài học </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li ng-class="{'active':pageData.menuType === 'unit'}">
                    <a ui-sref="units({module: 'unit'})">
                        <i class="menu-icon fa fa-caret-right"></i> Danh sách bài hoc
                    </a>

                    <b class="arrow"></b>
                </li>

                <li ng-class="{'active':pageData.menuType === 'add-unit'}">
                    <a ui-sref="createUnit({module: 'unit'})">
                        <i class="menu-icon fa fa-caret-right"></i> Thêm mới
                    </a>
                    <b class="arrow"></b>
                </li>

            </ul>
        </li>

        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-pencil-square-o"></i>
                <span class="menu-text"> Học viên </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li >
                    <a ui-sref="users({module: 'user', role: 'student'})">
                        <i class="menu-icon fa fa-caret-right"></i> Danh sách học viên
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a ui-sref="user-edit({module: 'user'})" ng-class="{'active':pageData.menuType === 'add-user'}">
                        <i class="menu-icon fa fa-caret-right"></i> Thêm học viên
                    </a>

                    <b class="arrow"></b>
                </li>
            </ul>
        </li>

        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-search"></i>
                <span class="menu-text"> Hệ thống nhận dạng </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="">
                    <a href="form-elements.html">
                        <i class="menu-icon fa fa-caret-right"></i> Cập nhật mạng bằng file JSON
                    </a>
                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a href="dropzone.html">
                        <i class="menu-icon fa fa-caret-right"></i> Training lại mạng
                    </a>
                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a href="dropzone.html">
                        <i class="menu-icon fa fa-caret-right"></i> Dữ liệu nhận dạng
                    </a>
                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a href="dropzone.html">
                        <i class="menu-icon fa fa-caret-right"></i> Đánh giá hiệu quả
                    </a>
                    <b class="arrow"></b>
                </li>
            </ul>
        </li>


        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-cogs"></i>
                <span class="menu-text"> Quản lý hệ thống </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li  ng-class="{'active':pageData.menuType === 'user'}">
                    <a ui-sref="users({module: 'user'})">
                        <i class="menu-icon fa fa-caret-right"></i> Danh sách tài khoản
                    </a>

                    <b class="arrow"></b>
                </li>

                <li  ng-class="{'active':pageData.menuType === 'permission'}">
                    <a ui-sref="permission({module: 'permission'})">
                        <i class="menu-icon fa fa-caret-right"></i> Phân quyền
                    </a>

                    <b class="arrow"></b>
                </li>

                <li  ng-class="{'active':pageData.menuType === 'config'}">
                    <a  ui-sref="configs({page:1})">
                        <i class="menu-icon fa fa-caret-right"></i> Cấu hình
                    </a>

                    <b class="arrow"></b>
                </li>

                <li ng-class="{'active':pageData.menuType === 'log'}">
                    <a ui-sref="logs()">
                        <i class="menu-icon fa fa-caret-right"></i> Nhật ký
                    </a>

                    <b class="arrow"></b>
                </li>
            </ul>
        </li>

        <li class="active open">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-file-o"></i>

                <span class="menu-text">
					Khác
					<span class="badge badge-primary">3</span>
                </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="">
                    <a href="faq.html">
                        <i class="menu-icon fa fa-caret-right"></i> Trợ giúp
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a href="error-404.html">
                        <i class="menu-icon fa fa-caret-right"></i> Phản hồi
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a href="error-500.html">
                        <i class="menu-icon fa fa-caret-right"></i> Sửa lỗi hệ thống
                    </a>

                    <b class="arrow"></b>
                </li>
            </ul>
        </li>
    </ul>
    <!-- /.nav-list -->

    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left"
            data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>
</div>