<footer class="section section-primary navbar-fixed" style="margin-top: 10%;">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1>Learing English System</h1>
        <p>Hệ thống học từ vựng trực tuyến,
        <br> Tra cứu từ điển chuyên ngành,
        <br>Tra cứu bằng hình ảnh
        <br>Nhanh chóng, chính xác.</p>
      </div>
      <div class="col-sm-6">
        <p class="text-info text-right">
          <br>
          <br>
        </p>
        <div class="row">
          <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
            <a href="#"><i class="fa fa-3x fa-fw fa-apple text-inverse"></i></a>
            <a href="#"><i class="fa fa-3x fa-fw fa-android text-inverse"></i></a>
            <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
            <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 hidden-xs text-right">
            <a href="#"><i class="fa fa-3x fa-fw fa-apple text-inverse"></i></a>
            <a href="#"><i class="fa fa-3x fa-fw fa-android text-inverse"></i></a>
            <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
            <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>