<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header"><button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      <a class="navbar-brand" href="/"><span>Boss | Learning English System</span></a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li {{#if home }} class="active" {{/if}}><a href="/">Home</a></li>
        <li {{#if forum }} class="active" {{/if}}><a href="/dien-dan">Forum</a></li>
        <li {{#if learn }} class="active" {{/if}}><a href="/hoc-tu-vung">Learn</a></li>
        <li {{#if about }} class="active" {{/if}}>
          <a href="/gioi-thieu">About</a>
        </li>
        <li {{#if contact }} class="active" {{/if}}><a href="/lien-he">Contact</a></li>
        <li {{#if login }} class="active" {{/if}}><a href="/dang-nhap">Login</a></li>
      </ul>
    </div>
  </div>
</div>