<div class="navbar navbar-default navbar-static-top" data-ng-controller="authCtrl as vmAuth">
  <div class="container">
    <div class="navbar-header"><button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      <a class="navbar-brand" href="/"><span>Boss | Learning English System</span></a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li {{#if menu.home }} class="active" {{/if}}><a href="/">Trang chủ</a></li>
        <li {{#if menu.dictionary }} class="active" {{/if}}><a href="/dien-dan">Tra từ điển</a></li>
        <li {{#if menu.blog }} class="active" {{/if}}><a href="/dien-dan">Diễn đàn</a></li>
        <li {{#if menu.about }} class="active" {{/if}}><a href="/gioi-thieu">Giới thiệu</a></li>

        {{#if credentials.uid}}
        <li {{#if menu.learn }} class="active" {{/if}}><a href="/hoc-bai">Học bài</a></li>
        
        <li class="dropdown ">
          <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span ng-bind="'Chào ' + vmAuth.name"></span> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <li><a href="/hoc-bai">Vào học</a></li>

              <li role="separator" class="divider"></li>
              <li><a href="/khach-hang/thong-tin-tai-khoan">Tài khoản</a></li>
              <li><a href="/khach-hang/doi-mat-khau">Đổi mật khẩu</a></li>
              <li><a data-ng-click="vmAuth.logout()">Đăng xuất</a></li>
          </ul>
          </li>
          {{else}}
          <li {{#if login }} class="active" {{/if}}>
            <a href="#">
              <span data-ng-click="vmAuth.showPopupRegister()">Đăng ký</span> /
              <span data-ng-click="vmAuth.showPopupLogin()">Đăng nhập</span>
            </a>
          </li>
          {{/if}}
      </ul>
    </div>
  </div>
</div>