<div class="navbar navbar-default navbar-static-top" data-ng-controller="authCtrl as vmAuth">
  <div class="container">
    <div class="navbar-header"><button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      <a class="navbar-brand" href="/"><span>Boss | Learning English System</span></a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li {{#if home }} class="active" {{/if}}><a href="/">Home</a></li>
        <li {{#if forum }} class="active" {{/if}}><a href="/dien-dan">Forum</a></li>
        <li {{#if learn }} class="active" {{/if}}><a href="/hoc-tu-vung">Learn</a></li>
        <li {{#if about }} class="active" {{/if}}>
          <a href="/gioi-thieu">About</a>
        </li>
        <li {{#if contact }} class="active" {{/if}}><a href="/lien-he">Contact</a></li>
        {{#if credentials.uid}}
        <li class="dropdown ">
          <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Chào <span ng-bind="vmAuth.name"></span> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
            <li><a href="#">Vào học</a></li>
            <!--<li><a href="#"></a></li>
              <a href="#"></a>
            </li>-->
            <li role="separator" class="divider"></li>
            <li><a href="#">Tài khoản</a></li>
            <li class="dropdown-header">Đổi mật khẩu</li>
            <li><a href="#">Đăng xuất</a></li>
            
          </ul>
        </li>
        {{else}}
        <li {{#if login }} class="active" {{/if}}><a href="/dang-nhap">Login / Signin</a></li>
        {{/if}}


      </ul>
    </div>
  </div>
</div>