<div id="mod-user-infomation" class="module">
 <div class="container">
  
  <div id="mod-menuleft">
   <div class="left">
    <div class="sub-left color-white">
     <a href="" title="">
      <span class="img">
        <img src="{{ linkAssets 'frontend/images/icon-profile.svg'}}" class="" alt="">
      </span>
      <span>Thông tin tài khoản</span>
    </a>
    <a href="" title="">
      <span class="img">
        <img src="{{ linkAssets 'frontend/images/iconlocation.png'}}" class="" alt="">
      </span>
      <span>Địa chỉ giao hàng</span>
    </a>
    <a href="" title="">
      <span class="img">
        <img src="{{ linkAssets 'frontend/images/bill.svg'}}" class="" alt="">
      </span>
      <span>Đơn hàng của tôi</span>
    </a>
    <a href="" title="">
      <span class="img">
        <img src="{{ linkAssets 'frontend/images/notebook.png'}}" class="" alt="">
      </span>
      <span>Sổ tay nội trợ</span>
    </a>
  </div>
</div>
</div>
<div class="right">
 <h6 class="title-heading6">THÔNG TIN TÀI KHOẢN</h6>
 <form class="form-horizontal">
  
  <div class="form-group">
    
    <label class="col-xs-2" >Email</label>
    
    <div class="col-xs-10">
      <div class="msg-input">
        <input type="text" class="form-control" placeholder="">
      </div>
    </div>
  </div>

  
  <div class="form-group">
    
    <label class="col-xs-2" >Họ và Tên</label>
    
    <div class="col-xs-10">
      <div class="msg-input">
        <input type="text" class="form-control" placeholder="">
      </div>
    </div>
  </div>

  
  <div class="form-group">
    
    <label class="col-xs-2" >Số điện thoại</label>
    
    <div class="col-xs-10">
      <div class="msg-input">
        <input type="number" class="form-control" placeholder="">
      </div>
    </div>
  </div>

  
  <div class="form-group">
    
    <label class="col-xs-2" for="sel1" >Danh xưng</label>
    
    <div class="col-xs-10">
      <div class="msg-input">
        <select class="selectbox" id="sel1">
          <option>le</option>
          <option>le</option>
        </select>
      </div>
    </div>
  </div>

  
  <div class="form-group">
    
    <label class="col-xs-2" >Ngày sinh</label>
    
    <div class="col-xs-10">
      <div class="msg-input">
        <input type="text" class="form-control" placeholder="">
      </div>
    </div>
  </div>

  <div class="form-group group-change">
   <div class="col-md-offset-2 col-md-10">
    <a href="" title="" class="changepass">Đổi mật khẩu</a>
    
    <button class="btn btn-primary">Lưu lại</button>

  </div>
</div>
</form>
</div>
<div class="clearfix"></div>
</div>
</div>