<!-- build:css vendor.min.css -->
<!-- bower:css -->
<link rel="stylesheet" href="../assets/admin/bower_components/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="../assets/admin/bower_components/magnific-popup/dist/magnific-popup.css" />
<link rel="stylesheet" href="../assets/admin/bower_components/angular-toastr/dist/angular-toastr.css" />
<link rel="stylesheet" href="../assets/admin/bower_components/cropper/dist/cropper.css" />
<link rel="stylesheet" href="../assets/admin/bower_components/bootstrap-daterangepicker/daterangepicker.css" />
<link rel="stylesheet" href="../assets/admin/bower_components/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.css" />
<link rel="stylesheet" href="../assets/admin/bower_components/AdminLTE/dist/css/AdminLTE.min.css" />
<link rel="stylesheet" href="../assets/admin/bower_components/AdminLTE/dist/css/skins/_all-skins.min.css" />
<link rel="stylesheet" href="../assets/admin/bower_components/AdminLTE/plugins/iCheck/square/_all.css" />
<link rel="stylesheet" href="../assets/admin/bower_components/select2/select2.css" />
<link rel="stylesheet" href="../assets/admin/bower_components/angular-xeditable/dist/css/xeditable.css" />
<!-- endbower -->

<!-- CSS Libs -->
<link rel="stylesheet" href="libs/ng-table-3.0.1/bundles/ng-table.css" />
<!-- END CSS Libs -->
<!-- endbuild -->