<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
</head>

<body>
	<table width="650" border="0" cellpadding="0" cellspacing="0" align="center" style="border:1px solid #e1e1e1;margin-top:60px;margin-bottom:60px;font-family:Arial">
		<tbody>
			<tr>
				<td style="background:#fff;padding:30px 40px 0 40px">
					<a><img style="border:none" src="https://c1.staticflickr.com/5/4282/35156719610_9d3e21860a_m.jpg" alt="" class="CToWUd"></a>
					<table>
						<tbody>
							<tr>
								<td style="height:10px"></td>
							</tr>
							<tr>
								<td style="width:570px;height:3px;background:#567e39"></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td style="background:#fff;padding-left:40px;padding-right:40px">
					<br>
					<p style="line-height:22px"><b style="color:#567e39">Xin chào </b>{{name}},<br><br> Cảm ơn bạn đã đăng ký tài khoản tại <b style="color:#567e39;font-family:Arial">English Study System</b>.<br>						Tài khoản của bạn đã được tạo, bạn có thể đăng nhập bằng đường dẫn sau: <a href="http://www.english.study.app.com.vn"
						 target="_blank" data-saferedirecturl="https://www.google.com/url?hl=vi&amp;q=http://www.english.study.app.com.vn&amp;source=gmail&amp;ust=1493040361972000&amp;usg=AFQjCNErJPv98T6OogcLeZEN1p7PqznlPw">http://www.english.study.app.com.vn</a></p>
					<table style="border:1px solid #acd373;margin-top:25px" cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<td style="width:570px;background:#e2f6bf;padding:10px 0 10px 30px;line-height:25px">
									<p>
										<b style="color:#567e39">Thông tin đăng nhập</b><br> E-mail: <a href="mailto:{{email}}" target="_blank">{{email}}</a><br>										Mật khẩu: Mật khẩu bạn đã nhập khi tạo tài khoản<br>
									</p>
								</td>
							</tr>
						</tbody>
					</table>
					<table border="0" cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<td style="width:570px;line-height:50px">
									<p style="margin-bottom:0px">
										<b style="color:#567e39">Khi đăng nhập vào tài khoản, bạn có thể:</b>
									</p>
								</td>
							</tr>
							<tr>
								<td style="width:570px;line-height:25px">
									<table width="100%" border="0" style="margin-top:5px">
										<tbody>
											<tr>
												<td style="width:25px"><img style="width: 20px;" src="https://c1.staticflickr.com/5/4218/35375937412_ee960af5db_z.jpg" alt="" class="CToWUd"></td>
												<td>Học học từ vựng, luyện tập từ vựng miễn phí</td>
											</tr>

											<tr>
												<td style="width:25px"><img style="width: 20px;" src="https://c1.staticflickr.com/5/4218/35375937412_ee960af5db_z.jpg" alt="" class="CToWUd"></td>
												<td>Tra cứu từ điển</td>
											</tr>
											<tr>
												<td style="width:25px"><img style="width: 20px;" src="https://c1.staticflickr.com/5/4218/35375937412_ee960af5db_z.jpg" alt="" class="CToWUd"></td>
												<td>Thay đổi thông tin tài khoản.</td>
											</tr>

											<tr>
												<td style="width:25px"><img style="width: 20px;" src="https://c1.staticflickr.com/5/4218/35375937412_ee960af5db_z.jpg" alt="" class="CToWUd"></td>
												<td>Thay đổi mật khẩu</td>
											</tr>

										</tbody>
									</table>
									<table width="100%" border="0">
										<tbody>
											<tr>
												<td>
													Nếu bạn cần hỗ trợ thêm, xin vui lòng liên hệ <a href="https://fb.com/TatChu.IT">Nguyễn Tất Chủ</a>.
													<br> Điện thoại: <span style="color:red">0969 369 499</span> <br> Email:
													<span style="color:blue">
                                                        <a href="mailto:english.study.app@gmail.com"    target="_blank">english.study.app@gmail.com</a>               </span>
													<br><br>
													<span style="color:#020202">Trân trọng! </span>
												</td>
											</tr>
											<tr>
												<td style="height:20px"></td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td><img src="https://c1.staticflickr.com/5/4287/34702316634_9df3c385b2_z.jpg" alt="" class="CToWUd"></td>
			</tr>
		</tbody>
	</table>
</body>

</html>