<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="">
</head>

<body>
    <table width="650" border="0" cellpadding="0" cellspacing="0" align="center" style="border:1px solid #e1e1e1;margin-top:60px;margin-bottom:60px;font-family:Arial">
        <tbody>
            <tr>
                <td style="background:#fff;padding:30px 40px 0 40px">
                    <a><img style="border:none" src="https://c1.staticflickr.com/5/4282/35156719610_9d3e21860a_m.jpg" alt="" class="CToWUd"></a>
                    <table>
                        <tbody>
                            <tr>
                                <td style="height:10px"></td>
                            </tr>
                            <tr>
                                <td style="width:570px;height:3px;background:#567e39"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="background:#fff;padding-left:40px;padding-right:40px">
                    <br>
                    <p style="line-height:22px"><b style="color:#567e39">Xin chào </b>{{name}},<br><br> Hệ thống đã xử lý yêu cầu nhận dạng của bạn thành
                        công. <br> Bây giờ bạn có thể tiếp tục học tập kiểm tra kết quả bằng cách đăng nhập vào hệ thống
                        <b style="color:#567e39;font-family:Arial">English Study System</b>.<br>
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td style="width:570px;line-height:25px">
                                     
                                        <table width="100%" border="0">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        Nếu bạn cần hỗ trợ thêm, xin vui lòng liên hệ <a href="https://fb.com/TatChu.IT">Nguyễn Tất Chủ</a>.
                                                        <br> Điện thoại: <span style="color:red">0969 369 499</span> <br>                                                        Email:
                                                        <span style="color:blue">
                                                        <a href="mailto:english.study.app@gmail.com"    target="_blank">english.study.app@gmail.com</a>               </span>
                                                        <br><br>
                                                        <span style="color:#020202">Trân trọng! </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="height:20px"></td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                </td>
            </tr>
            <tr>
                <td><img src="https://c1.staticflickr.com/5/4287/34702316634_9df3c385b2_z.jpg" alt="" class="CToWUd"></td>
            </tr>
        </tbody>
    </table>
</body>

</html>