<!--Content Wrapper. Contains page content -->
<div id="mod-blog-list" class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Bài viết
            <small>Góc bếp</small>
        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a class="active">Góc bếp</a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Danh sách các bài viết chuyên mục 'Góc bếp'</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form name='filterForm' ng-submit='vmListBlog.filter()'>
                            <div class="row">
                                <div class="col-xs-4">
                                    <input type="search" class="form-control search" name="keyword" ng-model="vmListBlog.queryParams.keyword" id="keyword" placeholder="Từ khoá">
                                </div>
                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <select class="form-control" ng-model="vmListBlog.queryParams.tag">
											<option value="[[tag._id]]" ng-repeat="tag in vmListBlog.listTag">[[tag.name]]</option>
											<option value="">Thẻ</option>
										</select>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <button type="submit" class="btn btn-success btn-flat">
										<i class="fa fa-search"></i>
										<span>Filter</span>
									</button>
                                    <a class="btn  btn-default btn-flat" ng-click="vmListBlog.filterReset();">
                                        <i class="fa fa-undo "></i>
                                        <span>Reset</span>
                                    </a>
                                </div>
                            </div>
                        </form>
                        <div ng-if="pageMethods.authSvc.isSuperAdmin() || (pageMethods.authSvc.isAdmin() && pageMethods.authSvc.hasPermission('blog', ['add']))"
                            class="form-inline pull-right">
                            <div class="form-group form-group-item">
                                <a class="btn btn-primary btn-sm btn-flat" ui-sref="createPost({module: 'blog',type: 'GB'})">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Thêm</span>
                                </a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div ng-show="vmListBlog.loading" style="text-align: center;"><img src="/assets/loading.svg" alt=""></div>
                        <table ng-show="!vmListBlog.loading" ng-table="vmListBlog.table" class="table table-condensed table-bordered table-striped">
                            <tr ng-repeat="item in $data">
                                <td data-title="'STT'">
                                    <div class="col col-num" ng-bind="((vmListBlog.queryParams.page - 1) * vmListBlog.queryParams.limit) + $index + 1"></div>
                                </td>
                                <td data-title="'Tên bài viết'">
                                    <strong>[[item.name]]</strong> <br>
                                    <em>[[item.short_description]]</em> <br> Người viết: [[item.auth_id.name]] <br>
                                </td>
                                <td data-title="'Hình ảnh'">
                                    <img class="img-blog" ng-show="item.featured_image[0]" ng-src="[[vmListBlog.imagesDirectory + item.featured_image[0].url]]"
                                        alt="Hình ảnh bị lỗi">
                                    <span class="text-center" ng-if="!item.featured_image[0]">Chưa có ảnh</span>
                                </td>
                                <td data-title="'Thẻ'">
                                    <strong>Tags: </strong> <span ng-repeat="(i, tag) in item.tags">[[tag.name]][[$last? '.': ', ']]</span>
                                </td>
                                <td data-title="'Trạng thái'">
                                    <span class="[[item.status === true ? 'label label-success': 'label label-default']]">[[item.status === true ? 'Publish': 'Draft']]</span>
                                    <br>
                                    <strong>Ngày viết: </strong><span ng-bind="item.createdAt | bzFormatDate:'DD/MM/YYYY'"></span>
                                    <br> [[item.views]] lượt xem
                                </td>
                                <!--<td data-title="'Trạng thái'">
									<span class="[[item.status === true ? 'label label-success': 'label label-default']]">[[item.status === true ? 'Active': 'Inactive']]</span>
								</td>-->
                                <!--<td data-title="'Ngày tạo'">
									<span ng-bind="item.created | bzFormatDate:'h:m:s DD/MM/YYYY'"></span>
								</td>-->
                                </td>
                                <td data-title="'Action'">
                                    &nbsp
                                    <a ng-if="pageMethods.authSvc.isSuperAdmin() || (pageMethods.authSvc.isAdmin() && pageMethods.authSvc.hasPermission('blog', ['edit']))"
                                       class="btn btn-default btn-flat btn-edit"  ui-sref="editPost({module: 'blog', slug:item.slug})">
                                        Sửa
                                    </a>
                                    &nbsp
                                    <a ng-if="pageMethods.authSvc.isSuperAdmin() || (pageMethods.authSvc.isAdmin() && pageMethods.authSvc.hasPermission('blog', ['delete']))"
                                        class="btn btn-default btn-flat btn-delete" ng-click="vmListBlog.remove(item.slug)">
                                        Xoá
                                    </a>

                                </td>
                            </tr>
                        </table>
                        <div ng-show="vmListBlog.listBlog.length == 0" class="no-data">
                            Chưa có dữ liệu
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper-->