<div id="mod-product-list" class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			Quản lý tìm kiếm
			<small>Quản lý tìm kiếm</small>
		</h1>
		<ol class="breadcrumb">
			<li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i>Trang chủ</a></li>
		</ol>
	</section>
	<!-- Main content -->
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title pull-left">Quản lý tìm kiếm</h3>
						<div class="form-inline pull-right">
							<div class="form-group form-group-item">
								<a class="btn btn-success btn-flat" ui-sref="search-add()" ng-show="vmSeL.showBtnAdd">
									<i class="glyphicon glyphicon-plus"></i>
									<span>Thêm tìm kiếm</span>
								</a>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<div ng-show="vmSeL.loading" style="text-align: center;"><img src="/assets/loading.svg" alt=""></div>
						<table ng-show="!vmSeL.loading" ng-table="vmSeL.table" class="table table-condensed table-bordered table-striped">
							<tr ng-repeat="(key, item) in $data">
								<td data-title="'STT'">
									<div class="col col-num" ng-bind="((vmSeL.queryParams.page - 1) * vmSeL.queryParams.limit) + $index + 1"></div>
								</td>
								<td data-title="'Từ khóa'" ng-bind="item.keyword"></td>
								<td data-title="'Trạng thái'" class="text-center">
									<input type="checkbox" name="type" ng-model="item.status" ng-change="vmSeL.activeSearch(item)" ng-disabled="!vmSeL.showBtnEdit">
								</td>
								<td data-title="'Số lần tìm kiếm'" ng-bind="item.count" class="text-center"></td>
								<td data-title="'Hành động'">
									<a ui-sref="search-edit({id : item._id})" ng-show="vmSeL.showBtnEdit" class="btn btn-default btn-flat">Sửa</a>
									<a ng-click="vmSeL.deleteSearch(item._id)" href="" ng-show="vmSeL.showBtnDelete" class="btn btn-default btn-flat">Xóa</a>
								</td>
							</tr>
						</table>

					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</section>
	<!-- /.content -->
</div>