<div id="mod-promotion-add" class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Thêm on sale
            <small>Thêm on sale</small>
        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i>Trang chủ</a></li>
            <li><a class="active" ui-sref="promotion-list()">On sale</a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Thêm on sale</h3>
                        <div class="clearfix"></div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div ng-show="mvPromotionList.loading" style="text-align: center;"><img src="/assets/loading.svg" alt=""></div>
                        <form novalidate name="addPromotionForm" id="addPromotionForm" ng-submit="vmPoA.addPromotion(addPromotionForm)" ng-show="!mvPromotionList.loading">

                            <!--Start: Name promotion-->
                            <div class="form-group">
                                <label>Tên on sale <span class="text-red">(*)</span></label>
                                <input type="text" class="form-control" name="name" id="name" ng-model="vmPoA.prom.name" ng-change="vmPoA.removeDisabled(addPromotionForm)" required>
                                <div class="messages-error" ng-messages="addPromotionForm.name.$error" ng-if="addPromotionForm.$submitted">
                                    <div ng-message="required">Bạn chưa nhập tên on sale.</div>
                                </div>
                                <div ng-if="vmPoA.promExist && addPromotionForm.$submitted">
                                    <p class="text-red">On sale đã tồn tại.</p>
                                </div>
                            </div>
                            <!--End: Name promotion-->

                            <!--Start: Description promotion-->
                            <div class="form-group">
                                <label>Chú thích</label>
                                <textarea rows="5" class="form-control" ng-model="vmPoA.prom.desc"></textarea>
                            </div>
                            <!--End: Description promotion-->

                            <!--Start: Type promotion-->
                            <div class="form-group">
                                <label>Loại</label>
                                <div>
                                    <label role="switcher">
                                        <input i-check type="radio" name="type" ng-model="vmPoA.prom.type" value="PC">
                                        <label>Phần trăm</label>
                                    </label>
                                    <label role="switcher">
                                        <input i-check type="radio" name="type" ng-model="vmPoA.prom.type" value="MN">
                                        <label>Giá tiền</label>
                                    </label>
                                </div>
                            </div>
                            <!--End: Type promotion-->

                            <!--Start: Status promotion-->
                            <div class="form-group">
                                <label role="switcher">
                                    <input i-check type="checkbox" name="status" ng-model="vmPoA.prom.status" ng-true-value="true" ng-false-value="false">
                                    <label>Active</label>
                                </label>
                            </div>
                            <!--End: Status promotion-->

                            <!--Start: Type promotion-->
                            <div class="form-group">
                                <label>Giá trị</label>
                                <input type="number" name="value" id="value" class="form-control" step="0.01" ng-model="vmPoA.prom.value" ng-change="vmPoA.removeDisabled(addPromotionForm)" min="0" required>
                                <div class="messages-error" ng-messages="addPromotionForm.value.$error" ng-if="addPromotionForm.$submitted">
                                    <div ng-message="required">Bạn chưa nhập giá trị.</div>
                                    <div ng-message="min">Giá trị tối thiểu là 0.</div>
                                </div>
                            </div>
                            <!--End: Type promotion-->

                            <!--Start: Product-->
                            <div class="form-group">
                                <label>Sản phẩm</label>
                                <select ui-select2 class="form-control" multiple ng-model="vmPoA.product_apply">
                                    <option value="[[value._id]]" ng-repeat="(key, value) in vmPoA.listProduct">[[value.name]]</option>
                                </select>
                            </div>
                            <!--End: Product-->

                            <!--Start: Submit Section-->
                            <div class="form-group text-right">
                                <a class="btn btn-primary btn-flat" ui-sref="promotion-list()">
                                    <i class="glyphicon glyphicon-remove"></i>
                                    Hủy bỏ
                                </a>
                                <button type="submit" ng-disabled="addPromotionForm.$submitted" class="btn btn-success btn-flat">
                                    <i class="glyphicon glyphicon-floppy-disk"></i>
                                    Thêm
                                </button>
                                <div class="clearfix"></div>
                            </div>
                            <!--End: Submit Section-->

                        </form>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</section>
	<!-- /.content -->
</div>