#mod-supplier-list{
    .name-deputy{

    }
    .detail-deputy{
       text-align: center;
    }
    .no-data {
        text-align: center;
    }
    .margin-left{
         margin-left: 15px;
    }
    .required{
        color: red;
    }
}