<!-- 
<body>
    <p>Chào {{user.name}}</p>
    <p>Chúng tôi đã nhận được yêu cầu đặt lại mật khẩu tài khoản của bạn được liên kết với địa chỉ email này. Nếu bạn đã thực hiện yêu cầu này, hãy nhấp vào liên kết (link) bên dưới để đặt lại mật khẩu của bạn:</p>
    <p><a href="{{urlResetPass}}">https://muahangviet.com.vn/khach-hang/dat-lai-mat-khau/</a></p>
    <p>Nếu bạn không yêu cầu đặt lại mật khẩu, bạn có thể bỏ qua email này. Hãy yên tâm rằng tài khoản khách hàng của bạn được an toàn.</p>
</body> -->

<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<table width="650" border="0" cellpadding="0" cellspacing="0" align="center" style="border:1px solid #e1e1e1;margin-top:60px;margin-bottom:60px;font-family:Arial; line-height: 20px">
		<tbody><tr>
			<td style="background:#fff;padding:30px 40px 0 40px">
				<a><img style="border:none" src="https://www.muahangviet.com.vn/assets/site/images/emails/logo.jpg" alt="" class="CToWUd"></a>
				<table>
					<tbody><tr>
						<td style="height:10px"></td>
					</tr>
					<tr>
						<td style="width:570px;height:3px;background:#567e39"></td>
					</tr>
				</tbody></table>
			</td>
		</tr>

		<tr>
			<td style="height: 20px">
			</td>
		</tr>

		<tr>
			<td style="background:#fff;padding-left:40px;padding-right:40px">

				<p>
					Chúng tôi đã nhận được yêu cầu đặt lại mật khẩu tài khoản của bạn được liên kết với địa chỉ email này. Nếu bạn đã thực hiện yêu cầu này, hãy nhấp vào liên kết (link) bên dưới để đặt lại mật khẩu của bạn:
				</p>
				<p>
					<a href="{{urlResetPass}}">{{urlResetPass}}</a>
				</p>
				<p>
					Nếu bạn không yêu cầu đặt lại mật khẩu, bạn có thể bỏ qua email này. Hãy yên tâm rằng tài khoản khách hàng của bạn được an toàn.
				</p>


			</td>
		</tr>

		<tr>
			<td style="background:#fff;padding-left:40px;padding-right:40px">
				<p>
					Nếu bạn cần hỗ trợ thêm, xin vui lòng liên hệ Bộ phận Chăm sóc khách hàng <br><br>
					Hotline: <span style="color:red">(08) 3820 9099</span>  từ <b>09:00 - 18:00, Thứ 2 - Thứ 7</b><br><br>
					Email:<span style="color:blue"> <a href="mailto:support@muahangviet.com.vn" target="_blank">support@muahangviet.com.vn</a> </span><br><br>
					Địa chỉ: Lầu 2, 62A Phạm Ngọc Thạch, P6, Quận 3, TP.HCM<br><br>
					<b style="color:#020202">Chân thành cảm ơn.</b>
				</p>

			</td>
		</tr>

		<tr>
			<td style="height: 20px">
			</td>
		</tr>


		<tr>
			<td><img src="https://www.muahangviet.com.vn/assets/site/images/emails/footer.jpg" alt="" class="CToWUd"></td>
		</tr>
	</tbody></table>

</body>