<!-- <p>
	Chào {{name}},
</p>
<p>Chúc mừng bạn, bạn đã đăng ký thành công</p>
<p>
	Để hoàn tất quá trình đăng ký, Bạn vui lòng click <a href="{{url}}">vào đây</a> để kích hoạt tài khoản của bạn. <br/>   
	(link tới <a href="{{url}}">{{url}}</a>)
</p> -->


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
</head>
<body>
	<table width="650" border="0" cellpadding="0" cellspacing="0" align="center" style="border:1px solid #e1e1e1;margin-top:60px;margin-bottom:60px;font-family:Arial">
		<tbody><tr>
			<td style="background:#fff;padding:30px 40px 0 40px">
			<a><img style="border:none" src="https://www.muahangviet.com.vn/assets/site/images/emails/logo.jpg" alt="" class="CToWUd"></a>
				<table>
					<tbody><tr>
						<td style="height:10px"></td>
					</tr>
					<tr>
						<td style="width:570px;height:3px;background:#567e39"></td>
					</tr>
				</tbody></table>
			</td>
		</tr>
		<tr>
			<td style="background:#fff;padding-left:40px;padding-right:40px">
				<br>
				<p style="line-height:22px"><b style="color:#567e39">Xin chào </b>{{name}},<br><br>
					Cảm ơn bạn đã đăng ký tài khoản tại <b style="color:#567e39;font-family:Arial">Mua Hàng Việt</b>.<br>
					Tài khoản của bạn đã được tạo, bạn có thể đăng nhập bằng đường dẫn sau: <a href="http://www.muahangviet.com.vn" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=vi&amp;q=http://www.muahangviet.com.vn&amp;source=gmail&amp;ust=1493040361972000&amp;usg=AFQjCNErJPv98T6OogcLeZEN1p7PqznlPw">http://www.muahangviet.com.vn</a></p>
					<table style="border:1px solid #acd373;margin-top:25px" cellpadding="0" cellspacing="0">
						<tbody><tr>
							<td style="width:570px;background:#e2f6bf;padding:10px 0 10px 30px;line-height:25px">
								<p>
									<b style="color:#567e39">Thông tin đăng nhập</b><br>
									E-mail: <a href="mailto:{{email}}" target="_blank">{{email}}</a><br>
									Mật khẩu: Mật khẩu bạn đã nhập khi tạo tài khoản<br>
								</p>
							</td>
						</tr>
					</tbody></table>
					<table border="0" cellpadding="0" cellspacing="0">
						<tbody><tr>
							<td style="width:570px;line-height:50px">
								<p style="margin-bottom:0px">
									<b style="color:#567e39">Khi đăng nhập vào tài khoản, bạn có thể:</b>
								</p>
							</td>
						</tr>
						<tr>
							<td style="width:570px;line-height:25px"> 
								<table width="100%" border="0" style="margin-top:20px">
									<tbody><tr>
										<td style="width:25px"><img src="https://www.muahangviet.com.vn/assets/site/images/emails/icon.jpg" alt="" class="CToWUd"></td>
										<td>Tiến hành thanh toán nhanh khi mua hàng</td>
									</tr>

									<tr>
										<td style="width:25px"><img src="https://www.muahangviet.com.vn/assets/site/images/emails/icon.jpg" alt="" class="CToWUd"></td>
										<td>Kiểm tra trang thái đơn hàng</td>
									</tr>

									<tr>
										<td style="width:25px"><img src="https://www.muahangviet.com.vn/assets/site/images/emails/icon.jpg" alt="" class="CToWUd"></td>
										<td>Xem lịch sử mua hàng</td>
									</tr>

									<tr>
										<td style="width:25px"><img src="https://www.muahangviet.com.vn/assets/site/images/emails/icon.jpg" alt="" class="CToWUd"></td>
										<td>Thay đổi thông tin tài khoản.</td>
									</tr>

									<tr>
										<td style="width:25px"><img src="https://www.muahangviet.com.vn/assets/site/images/emails/icon.jpg" alt="" class="CToWUd"></td>
										<td>Thay đổi mật khẩu</td>
									</tr>

								</tbody></table>
								<table width="100%" border="0">
									<tbody><tr>
										<td>
											Nếu bạn cần hỗ trợ thêm, xin vui lòng liên hệ Bộ phận Chăm sóc khách hàng <br><br>
											Hotline: <span style="color:red">(08) 3820 9099</span>  từ <b>09:00 - 18:00, Thứ 2 - Thứ 7</b><br><br style="color:blue"> <a href="mailto:support@muahangviet.com.vn" target="_blank">support@muahangviet.com.vn</a> <br><br><br style="color:#020202">Chân thành cảm ơn.
										</td>
									</tr>
									<tr>
										<td style="height:40px"></td>
									</tr>
								</tbody></table>

							</td>
						</tr>
					</tbody></table>
				</td>
			</tr>
			<tr>
				<td><img src="https://www.muahangviet.com.vn/assets/site/images/emails/footer.jpg" alt="" class="CToWUd"></td>
			</tr>
		</tbody></table>
	</body>
	</html>
