<div id="mod-menuleft">
     <a href="/khach-hang/thong-tin-tai-khoan" title="" data-ng-class="{'active':vmUserInfo.menuActive === 'info'}">
          <span class="img">
               <img src="{{ linkAssets 'frontend/images/icon-profile.svg'}}" class="" alt="">
          </span>
          <span>Thông tin tài khoản</span>
     </a>
     <a href="/khach-hang/dia-chi-giao-hang" title="" data-ng-class="{'active':vmShippingAddress.menuActive === 'shipping-address'}">
          <span class="img">
               <img src="{{ linkAssets 'frontend/images/iconlocation.png'}}" class="" alt="">
          </span>
          <span>Nhận dạng chữ của tôi</span>
     </a>
     <a href="/khach-hang/don-hang-cua-toi" title="" data-ng-class="{'active':vmOrder.menuActive === 'order'}">
          <span class="img">
               <img src="{{ linkAssets 'frontend/images/bill.svg'}}" class="" alt="">
          </span>
          <span>Bài học yêu thích</span>
     </a>
</div>

