<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4"> <img src="{{linkAssets 'site/new-cms/learn-and-test.png'}}" class="img-responsive">
                <h2>Học và kiểm tra tiếng anh</h2>
                <p>Bằng cách bạn tự làm bài tập nhận dạng, học tiếng theo Boss App bạn sẽ nhanh thuộc và nhớ từ vựng lâu hơn. 
                    <br>
                </p>
            </div>
            <div class="col-md-4"> <img src="{{linkAssets 'site/new-cms/giao-an.png'}}" class="img-responsive">
                <h2>Giáo án theo sách giáo khoa</h2>
                <p>Giáo trình theo sách giáo khoa giúp học sinh dễ dàng hơn với bài vở và phụ huynh dễ kiểm tra bài vở chon con em
                    <br>Các dạng bài tập bám sát sách giáo khoa
                    <br>Cách làm cải tiến sinh động
                    </p>
            </div>
            <div class="col-md-4"> <img src="{{linkAssets 'site/new-cms/search-dictionary.png'}}" class="img-responsive">
                <h2>Hệ thống tra cứu từ điển</h2>
                <p>Hệ thống tích hợp kho từ điển hơn 300 ngàn từ, mỗi từ có các câu đi kèm giúp cải thiện khả năng giao tiếp
                    <br>Tra cứu từ vựng nhanh chóng, chính xác
                    <br>Tra cứu từ vựng băng hình ảnh
                    <br>Từ vựng đi với các câu thông dụng
                    </p>
            </div>
        </div>
    </div>
</div>