#mod-popup-log{
    p{
        margin: 1px;
    }
    pre{
        margin: 10px 0;
        padding: 5px 3px 0;
    }
    .edited{
        color: red;
    }
    
    .null{
        color: blue;
    }
}