<li class="active open">
    <a href="#" class="dropdown-toggle">
        <i class="menu-icon fa fa-file-o"></i>

        <span class="menu-text">
					Khác
					<span class="badge badge-primary">3</span>
        </span>

        <b class="arrow fa fa-angle-down"></b>
    </a>

    <b class="arrow"></b>

    <ul class="submenu">
        <li class="">
            <a href="faq.html">
                <i class="menu-icon fa fa-caret-right"></i> Trợ giúp
            </a>

            <b class="arrow"></b>
        </li>

        <li class="">
            <a href="error-404.html">
                <i class="menu-icon fa fa-caret-right"></i> Phản hồi
            </a>

            <b class="arrow"></b>
        </li>

        <li class="">
            <a href="error-500.html">
                <i class="menu-icon fa fa-caret-right"></i> Sửa lỗi hệ thống
            </a>

            <b class="arrow"></b>
        </li>
    </ul>
</li>