<div id="mod-menuleft">
     <a href="/hoc-vien/thong-tin-tai-khoan" title="" data-ng-class="{'active':vmUserInfo.menuActive === 'info'}">
          <span class="img">
               <img src="{{ linkAssets 'frontend/images/icon-profile.svg'}}" class="" alt="">
          </span>
          <span>Thông tin tài khoản</span>
     </a>
     <a href="/hoc-vien/nhan-dang-chu-cua-toi" title="" data-ng-class="{'active':vmRecognition.menuActive === 'recognition'}">
          <span class="img">
               <img src="{{ linkAssets 'frontend/images/iconlocation.png'}}" class="" alt="">
          </span>
          <span>Nhận dạng chữ của tôi</span>
     </a>
     <a href="/hoc-vien/bai-hoc-yeu-thich" title="" data-ng-class="{'active':vmOrder.menuActive === 'order'}">
          <span class="img">
               <img src="{{ linkAssets 'frontend/images/bill.svg'}}" class="" alt="">
          </span>
          <span>Bài học yêu thích</span>
     </a>
</div>

