<div class="container" data-ng-controller="exercise_1_Ctrl as vmExercise_1">
    <div class="row">
        <div class="col-md-offset-1 col-md-10 center">
            <div class="row">
                <div class="col-md-3">
                    <div class="span6">
                        <canvas id="snapshot" class="well pull-left"></canvas>
                        <button ng-click="vmExercise_1.downloadSnapshot(snapshotData)" ng-disabled="!vmExercise_1.snapshotData" class="btn btn-large btn-primary">Download</button>
                        <button class="btn btn-small" ng-click="vmExercise_1.showBase64 = !vmExercise_1.showBase64">Show as base64 encoded URL</button>
                        <textarea class="snapshot-data" ng-model="vmExercise_1.snapshotData" ng-show="vmExercise_1.showBase64"></textarea>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="pull-right">
                        <webcam on-stream="vmExercise_1.onStream(stream)" on-access-denied="vmExercise_1.onError(err)" on-streaming="vmExercise_1.onSuccess()"
                            channel="vmExercise_1.channel">
                        </webcam>
                        <button type="button" class="btn btn-success" ng-click="vmExercise_1.makeSnapshot()">Chụp ảnh</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>