<div id="mod-popup-add-coupon" class="popup-order-add-coupon">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Tạo nhiều mã Coupon tự động
        </h1>
    </section>
    <hr class="space">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <form novalidate id="formGenaratorCode" name="formGenaratorCode" ng-submit="genaratorCode(formGenaratorCode)">
                    <div class="form-group">
                        <label>Quy luật code:</label>
                        <input class="form-control" ng-model="data.code" type="text" name="code" ng-change="onTypeCode()" required placeholder="Ví dụ: *CODE, MHV***,, COUPON*USER*">
                        <div class="error-require">
                            <div ng-if="data.code == '' && (formGenaratorCode.code.$touched || submitted)">Bạn chưa nhập định dạng mã</div>
                            <div ng-if="(data.code.indexOf('*') == -1) && (data.code != '')">Để dấu * vào phần mã tự sinh</div>
                            <div ng-if="((data.code.split('*').length -1) < 3) && (data.code.indexOf('*') != -1)">Cần ít nhất 3 dấu *</div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label>Số lượng:</label>
                        <input class="form-control" ng-model="data.qty" type="number" name="qty" min="2" max="1000" required>
                        <div class="messages-error" ng-messages="formGenaratorCode.qty.$error" ng-if="submitted && ((data.code.split('*').length -1) >= 3) && (data.code.indexOf('*') != -1) && !data.code == ''">
                            <div ng-message="required">Bạn phải nhập giá trị này</div>
                            <div ng-message="min">Ít nhất là 2</div>
                            <div ng-message="max">Nhiều nhất là 1000</div>
                        </div>
                    </div>

                    <div class="text-right">
                        <button type="submit" class="btn btn-success">Genarator Code</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>