<div id="mod-change-password" class="module" ng-controller="resetPassCtrl as vmResetPass">
	<div class="container">
		<div class="content hidden" id="hide1">
			<div class="form">
				<h5>Đặt lại mật khẩu mới</h5>
				<form  novalidate name="frmResetPass" ng-submit="vmResetPass.resetPass(frmResetPass.$valid)" >
					<div class="form-group" ng-class="{'error': (frmResetPass.txtPassword.$error.required || frmResetPass.txtPassword.$error.minlength ) && vmResetPass.submitted }">
						<label for="">Mật khẩu mới</label>
						<div class="msg-input error">
							<input autocomplete="off" class="form-control" id="txtPassword" name="txtPassword" type="password" ng-model="vmResetPass.formData.newPassword" ng-minlength="6"  required  />
						</div>
						<div  ng-messages="frmResetPass.txtPassword.$error" ng-if="vmResetPass.submitted">
							<span class="message-error" ng-message="required">Nhập mật khẩu ít nhất từ 6 kí tự.</span>
							<span class="message-error" ng-message="minlength">Nhập mật khẩu ít nhất từ 6 kí tự.</span>
						</div>
					</div>
					<div class="form-group" ng-class="{'error': (frmResetPass.txtRePassword.$error.required || frmResetPass.txtRePassword.$error.match) && vmResetPass.submitted }">
						<label for="">Nhập lại mật khẩu mới</label>
						<div class="msg-input ">
							<input autocomplete="off" class="form-control" id="txtRePassword" name="txtRePassword" type="password" ng-model="vmResetPass.formData.confirmNewPassword" bz-valid-password-match="#txtPassword"  required>
						</div>
						<div  ng-messages="frmResetPass.txtRePassword.$error" ng-if="vmResetPass.submitted">
							<span class="message-error" ng-message="required">Xác nhận mật khẩu không khớp.</span> 
							<span class="message-error" ng-message="match">Xác nhận mật khẩu không khớp.</span>
						</div>
					</div>
					<div class="button">
						<button bz-submit type="submit" class="btn" ng-disabled="vmResetPass.lockForm">Đặt lại mật khẩu</button>
					</div>
				</form>
			</div>		
		</div>
	</div>
</div>

<script>
	var data = {{{json data}}}
</script>