<div class="container module-learn" data-ng-controller="vocabularyWebCtrl as vmLearn">
    <style>
        .module-learn {
            margin-top: 5%;
        }
    </style>
    <div class="row" ng-if="vmLearn.listVocabulary.length > 0">
        <div class="col-md-3 col-md-offset-1">
            <img ng-src="[[vmLearn.imgDir + vmLearn.word.images[0].url]]" alt="" class="img-word" />
        </div>

        <div class="col-md-7">
            <div class="content text-center">
                <div class="vocabulary"><span ng-bind="vmLearn.word.word"></span></div>
                <div class="define"><span ng-bind="vmLearn.word.define"></span></div>
                <div class="sentense" ng-if="vmLearn.word.sentense_pattern && vmLearn.word.sentense_pattern.sentense && vmLearn.word.sentense_pattern.sentense != ''"
                    ng-click="vmLearn.speak(vmLearn.word.sentense_pattern.sentense)">
                    <span ng-bind="'Mẫu câu:  '+ vmLearn.word.sentense_pattern.sentense">
                        </span> <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                </div>
                <span class="phienam" ng-bind="vmLearn.word.transcribe"></span>
                <div class="row more">
                    <div ng-click="vmLearn.speak(vmLearn.word.word)" class="col-md-6">
                        <div class="cursor">
                            <img src="{{linkAssets 'button/sound.png'}}" alt="" class="img-sound-word">
                            <!--<input onclick=';' type='button' value='🔊 Play' />-->
                            <label class="cursor" class="control-label"> Cách đọc từ</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Loại từ:</label>
                        <span class="" ng-bind="vmLearn.getClasses(vmLearn.word.classes)"></span>
                    </div>
                    <div class="btn-div">
                        <button type="button" ng-click="vmLearn.prev()" ng-if="vmLearn.index >= 1" class="btn btn-lg  btn-block btn-success btn-control"><i class="fa fa-caret-left" aria-hidden="true"></i> Từ trước</button>

                        <button type="button" ng-click="vmLearn.next()" ng-if="vmLearn.index < vmLearn.listVocabulary.length - 2" class="btn btn-block btn-warning btn-lg  btn-control">Từ tiếp theo <i class="fa fa-caret-right" aria-hidden="true"></i></button>
                    </div>
                    <div class="row top-10">
                        <div class="col-md-6">
                                <button ng-click="vmLearn.openExersice_1()" class="btn btn-link red">Luyện tập nhớ từ</button>
                        </div>

                        <div class="col-md-6">
                                <a href="/hoc-bai/luyen-tap-mau-cau/{{unit}}" class="btn btn-link blue">Luyện tập từ với mẫu câu</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="row" ng-if="vmLearn.listVocabulary.length == 0">
        <h4 class="text-center">Thật không may, bài học này chưa có dữ liệu</h4>
    </div>
</div>


<script>
    var vocabularys = {{{json vocabularys}}};
</script>
<style>
    .btn-arrow {
        text-align: center;
        margin-top: 19px;
    }

    .content {
        margin-bottom: 5%;
    }

    .img-word {
        width: 100%;
    }

    .img-button-word {
        width: 50px;
    }

    .more {
        margin-top: 20px;
    }

    .img-sound-word {
        width: 20px;
    }

    .vocabulary {
        display: inherit;
        margin-top: 4%;
        font-size: 3em;
        color: seagreen;
    }

    .define {
        color: fuchsia;
        display: inherit;
        font-size: x-large;
    }

    .classes,
    .phienam {
        display: inherit;
        font-size: x-large;
    }

    .sentense {
        margin-top: 3%;
        font-size: 20px;
        cursor: pointer;
    }

    button.btn-control {
        display: inline-block;
        width: 48%;
    }

    .btn-div {
        margin-top: 5%;
    }

    .btn-block+.btn-block {
        margin-top: 0;
    }

    .cursor {
        cursor: pointer
    }
    .red{
        color: red;
    }
    .blue{
        color: blue;
    }
    .top-10{
        margin-top: 6%;
    }
</style>