<li class="">
    <a href="#" class="dropdown-toggle">
        <i class="menu-icon fa fa-search"></i>
        <span class="menu-text"> Hệ thống nhận dạng </span>

        <b class="arrow fa fa-angle-down"></b>
    </a>

    <b class="arrow"></b>

    <ul class="submenu">
        <li class="">
            <a ui-sref="updateRecognition">
                <i class="menu-icon fa fa-caret-right"></i> Cập nhật mạng bằng file JSON
            </a>
            <b class="arrow"></b>
        </li>

        <li class="">
            <a href="dropzone.html">
                <i class="menu-icon fa fa-caret-right"></i> Training lại mạng
            </a>
            <b class="arrow"></b>
        </li>

        <li class="">
            <a href="dropzone.html">
                <i class="menu-icon fa fa-caret-right"></i> Dữ liệu nhận dạng
            </a>
            <b class="arrow"></b>
        </li>

        <li class="">
            <a href="dropzone.html">
                <i class="menu-icon fa fa-caret-right"></i> Đánh giá hiệu quả
            </a>
            <b class="arrow"></b>
        </li>
    </ul>
</li>