<!-- build:js vendor.min.js -->
<!-- bower:js -->
<script src="{{settings.services.webUrl}}/assets/site/bower_components/jquery/dist/jquery.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/jrespond/jRespond.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/jquery-ui/jquery-ui.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/angular/angular.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/angular-animate/angular-animate.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/angular-messages/angular-messages.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/angular-resource/angular-resource.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/bz-popup/scripts/popup.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/bz-popup/scripts/angular-popup.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/is_js/is.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/gnob/gnob.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/cropper/dist/cropper.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/moment/moment.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/angular-daterangepicker/js/angular-daterangepicker.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/angularjs-datetime-picker/angularjs-datetime-picker.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/lodash/lodash.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/ng-file-upload/ng-file-upload.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/ng-file-upload-shim/ng-file-upload-shim.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/file-saver/FileSaver.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/socket.io-client/dist/socket.io.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/select2/select2.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/angular-ui-select2/src/select2.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/angular-xeditable/dist/js/xeditable.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/slick-carousel/slick/slick.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/angulike/angulike.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/sticky-kit/jquery.sticky-kit.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/jquery_lazyload/jquery.lazyload.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/jquery_lazyload/jquery.scrollstop.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- Js Libs Manual-->
{{> web/partials/link/script_manual}} 
<!--End Js Libs Manual-->

<!-- build:js main.min.js -->
<!-- Global, Utils:js -->
<script src="{{settings.services.webUrl}}/assets/site/scripts/languages.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/scripts/variables.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/scripts/utils/datetime.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/scripts/utils/excel.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/scripts/utils/methods.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/scripts/utils/plugins.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/scripts/utils/prototypes.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/scripts/utils/sort.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/scripts/utils/storage.js"></script>
<!-- endinject -->

<!-- AngularJs:js -->
<script src="{{settings.services.webUrl}}/modules/web-core/view/client/bootstrap.js"></script>
<script src="{{settings.services.webUrl}}/modules/z-share/angular/service.js"></script>
<script src="{{settings.services.webUrl}}/modules/z-share/angular/filter.js"></script>
<script src="{{settings.services.webUrl}}/modules/z-share/angular/directive.js"></script>
<script src="{{settings.services.webUrl}}/modules/z-share/angular/define.js"></script>
<script src="{{settings.services.webUrl}}/modules/web-user/view/client/config.js"></script>
<script src="{{settings.services.webUrl}}/modules/web-product/view/client/config.js"></script>
<script src="{{settings.services.webUrl}}/modules/web-order/view/client/config.js"></script>
<script src="{{settings.services.webUrl}}/modules/web-index/view/client/config.js"></script>
<script src="{{settings.services.webUrl}}/modules/web-auth/view/client/config.js"></script>
<script src="{{settings.services.webUrl}}/modules/web-blog/view/client/config.js"></script>
<script src="{{settings.services.webUrl}}/modules/web-user/view/client/service.js"></script>
<script src="{{settings.services.webUrl}}/modules/web-product/view/client/service.js"></script>
<script src="{{settings.services.webUrl}}/modules/web-order/view/client/service.js"></script>
<script src="{{settings.services.webUrl}}/modules/web-index/view/client/search/service.js"></script>
<script src="{{settings.services.webUrl}}/modules/web-index/view/client/service.js"></script>
<script src="{{settings.services.webUrl}}/modules/web-blog/view/client/service.js"></script>
<script src="{{settings.services.webUrl}}/modules/web-user/view/client/popup/edit-shipping-address/controller.js"></script>
<script src="{{settings.services.webUrl}}/modules/web-user/view/client/popup/add-shipping-address/controller.js"></script>
<script src="{{settings.services.webUrl}}/modules/web-product/view/client/popup/detail-product/controller.js"></script>
<script src="{{settings.services.webUrl}}/modules/web-auth/view/client/popup/register/controller.js"></script>
<script src="{{settings.services.webUrl}}/modules/web-auth/view/client/popup/login/controller.js"></script>
<script src="{{settings.services.webUrl}}/modules/web-auth/view/client/popup/forgot-pass/controller.js"></script>
<script src="{{settings.services.webUrl}}/modules/web-auth/view/client/popup/change-pass/controller.js"></script>
<script src="{{settings.services.webUrl}}/modules/web-user/view/client/shipping-address/controller.js"></script>
<script src="{{settings.services.webUrl}}/modules/web-user/view/client/order/controller.js"></script>
<script src="{{settings.services.webUrl}}/modules/web-user/view/client/info/controller.js"></script>
<script src="{{settings.services.webUrl}}/modules/web-user/view/client/favorite-product/controller.js"></script>
<script src="{{settings.services.webUrl}}/modules/web-user/view/client/change-pass/controller.js"></script>
<script src="{{settings.services.webUrl}}/modules/web-product/view/client/detail/controller.js"></script>
<script src="{{settings.services.webUrl}}/modules/web-product/view/client/category/controller.js"></script>
<script src="{{settings.services.webUrl}}/modules/web-order/view/client/checkout-step-1/controller.js"></script>
<script src="{{settings.services.webUrl}}/modules/web-index/view/client/search/controller.js"></script>
<script src="{{settings.services.webUrl}}/modules/web-index/view/client/home/controller.js"></script>
<script src="{{settings.services.webUrl}}/modules/web-auth/view/client/reset-pass/controller.js"></script>
<script src="{{settings.services.webUrl}}/modules/web-auth/view/client/login/controller.js"></script>
<script src="{{settings.services.webUrl}}/modules/web-blog/view/client/blog-tag/controller.js"></script>
<script src="{{settings.services.webUrl}}/modules/web-product/view/client/popup/detail-product/directive.js"></script>
<script src="{{settings.services.webUrl}}/modules/web-product/view/client/category/filter.js"></script>
<!-- endinject -->
<!-- endbuild -->