<div id="mod-popup-order" class="popup-order">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Chi tiết đơn hàng
        </h1>
    </section>
    <hr class="space">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <form id="formOrderDetail" name="formOrderDetail" ng-submit="updateOrderDetail(formOrderDetail)">
                    <div class="show-grid">
                        <div class="form-group">
                            <label>Hình thức nhận hàng</label>
                            <div class="form-inline">
                                <label role="switcher">
                                    <input i-check type="radio" ng-change="onChangeDeliveryType()"  ng-model="orderDetail.delivery_type" value="CN" disabled>
                                    <span>Địa chỉ cá nhân</span>
                                </label>
                                <label role="switcher">
                                    <input i-check type="radio" ng-change="onChangeDeliveryType()" ng-model="orderDetail.delivery_type" value="CT" disabled>
                                    <span>Nhận tại công ty Mua Hàng Việt</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="show-grid">
                        <div class="form-group">
                            <label>Họ tên khách hàng: </label>
                            <span ng-bind="orderDetail.payment_info.info.full_name"></span>
                        </div>
                        <div class="form-group">
                            <label>Số điện thoại: </label>
                            <span ng-bind="orderDetail.payment_info.info.phone"></span>
                        </div>
                        <div class="form-group">
                            <label>Email: </label>
                            <span ng-bind="orderDetail.payment_info.info.email"></span>
                        </div>

                        <!-- địa chỉ giao hàng-->
                        <div ng-if="orderDetail.delivery_type == 'CT'" class="form-group show-grid">
                            <label>Địa chỉ giao hàng:</label>
                            <span>
                                Nhận tại công ty Mua Hàng Việt
                            </span>
                        
                        </div>
                        <div ng-if="orderDetail.delivery_type == 'CN'" class="form-group show-grid">
                            <label>Địa chỉ giao hàng:</label>
                            <span>
                                [[orderDetail.payment_info.info.address]] - [[orderDetail.payment_info.info.district]]
                            </span>
                            <a ng-if="orderDetail.payment_info.info.user_id" ng-click="editUserShipping()" class="update-user-shipping-address">Cập nhật địa chỉ giao hàng?</a>
                        </div>
                        <!--End địa chỉ giao hàng-->

                    </div>

                    <div class="show-grid">
                        <div class="form-group">
                            <label>Hình thức thanh toán</label>
                            <div class="form-inline">
                                <div>
                                    <label role="switcher">
                                        <input i-check type="radio" ng-model="orderDetail.payment_method" value="COD" disabled>
                                        <span>COD</span>
                                    </label>
                                </div>
                                <div>
                                    <label role="switcher">
                                        <input i-check type="radio" ng-model="orderDetail.payment_method" value="CK" disabled>
                                        <span>Chuyển khoản</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="show-grid">
                        <div class="form-group">
                            <label>Thời gian giao hàng</label>
                            <div class="form-inline">
                                <label role="switcher">
                                        <input i-check type="radio" ng-model="orderDetail.delivery_time" value="SANG" disabled>
                                        <span>Sáng 10:30 - 12:00</span>
                                    </label>
                                <label role="switcher">
                                        <input i-check type="radio" ng-model="orderDetail.delivery_time" value="CHIEU" disabled>
                                        <span>Chiều 14:00 - 17:00</span>
                                    </label>
                            </div>
                        </div>
                        <div ng-if="orderDetail.note" class="form-group">
                            <label>Ghi chú giao hàng: </label>
                            <span ng-bind="orderDetail.note"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Trạng thái</label>
                        <select class="form-control" name="status" ng-model="orderDetail.status" ng-options="option.value as option.name for option in statusOrder" disabled>
						</select>
                    </div>

                    <div class="form-group">
                        <label>Đơn vị giao đơn hàng</label>
                        <select class="form-control" name="shiper" ng-model="orderDetail.shiper" ng-options="option.value as option.name for option in shipperList" disabled>
						</select>
                    </div>
                </form>

                <hr>

                <div class="list-product">
                    <table class="table table-bordered">
                        <tr>
                            <th>Sản phẩm</th>
                            <th>Đơn giá</th>
                            <th>Số lượng</th>
                            <th>Giảm giá</th>
                            <th>Tổng cộng</th>
                        </tr>
                        <tr ng-repeat="item in orderDetail.order_detail">
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            <img class="img-product" ng-src="[[checkImgOld(urlImg,item.product.thumb)]]" alt="Product image">
                                        </td>
                                        <td>
                                            <p ng-bind="item.product.name"></p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <span ng-bind="item.price | currency : '':0"></span> ₫
                            </td>
                            <td>
                                <span ng-bind="item.order_quantity"></span>
                            </td>
                            <td>
                                <span ng-show="item.id_promote.id">
                                    [[item.id_promote.value]]
                                    <span ng-show="item.id_promote.type == 'MN'">₫</span>
                                <span ng-show="item.id_promote.type == 'PC'">%</span>
                                </span>
                            </td>
                            <td>
                                <span ng-bind="item.total | currency : '':0"></span> ₫
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="info-order text-right">
                    <p>
                        <label>Tổng cộng: </label>
                        <span class="value-order-info" ng-bind="orderDetail.total | currency : '':0"></span> ₫
                    </p>

                    <!--<p>
                        <label>Thành tiền: </label>
                        <span class="value-order-info" ng-bind="(orderDetail.total + orderDetail.payment_info.info.shipping_fee) | currency : '':0"></span>                        ₫
                    </p>-->
                    <p>

                        <label>Khuyến mãi <label ng-if="orderDetail.id_coupon" class="text-green" ng-bind="'(' + orderDetail.coupon.name + ')'"></label>
                        <label ng-if="orderDetail.coupon.value > 0 && orderDetail.old_id" class="text-green" ng-bind="'(' + orderDetail.coupon.code+ ')'"></label>:
                        </label>
                        <span>
                            <span ng-if="orderDetail.coupon.value > 0">- </span>[[ orderDetail.coupon.value|
                        currency:"":0]] ₫
                        </span>
                    </p>

                    <p ng-if="orderDetail.delivery_time =='CHIEU' && promotionForOrderDeleveryOnAffternoon.status">
                        <label class="text-green"> <strong ng-bind="promotionForOrderDeleveryOnAffternoon.description"></strong> :</label>
                        <span>- [[(promotionForOrderDeleveryOnAffternoon.type == "PC" ?
                         ((promotionForOrderDeleveryOnAffternoon.value/100) * orderDetail.total) 
                         :promotionForOrderDeleveryOnAffternoon.value )
                         | currency:"":0]] ₫</span>
                    </p>
                    <p ng-if="isFirstOder">
                        <label class="text-green"> <strong ng-bind="promotionForFirstOrder.description"></strong>: </label>
                        <span>
                             - [[( promotionForFirstOrder.type == "MN"?
                              promotionForFirstOrder.value
                            :((promotionForFirstOrder.value/100) * orderDetail.total) ) 
                            | currency:"":0]] ₫
                         </span>
                    </p>

                    <p>
                        <label>Phí vận chuyển: </label>
                        <span class="value-order-info text-red" ng-if="orderDetail.payment_info.info.shipping_fee == 0" ng-bind="'(Miễn phí)'"></span>
                        <span class="value-order-info" ng-bind="(orderDetail.payment_info.info.shipping_fee | currency : '':0) + ' ₫'"></span>
                    </p>

                    <!--Nếu tổng tiền sau khi trừ khuyến mãi lớn hơn giá trị freeship nội thành config thì show text-->
                    <p ng-if="orderDetail.shipping_fee.type == '1' && (orderDetail.total - orderDetail.coupon.value - ((orderDetail.delivery_time == 'CHIEU')? (promotionForOrderDeleveryOnAffternoon.type
                    == 'PC' ? ((promotionForOrderDeleveryOnAffternoon.value/100) * orderDetail.total) : promotionForOrderDeleveryOnAffternoon.value
                    ) : 0 ) - (isFirstOder? ( promotionForFirstOrder.type == 'MN'? promotionForFirstOrder.value
                    :( (promotionForFirstOrder.value/100) * orderDetail.total) ): 0) )

                    >
                    
                     freeShipUrban.value">
                        <label class="text-green"> <strong ng-bind="freeShipUrban.description"></strong> </label>
                    </p>

                    <!--Nếu tổng tiền sau khi trừ khuyến mãi lớn hơn giá trị freeship ngoại thành config thì show text-->
                    <p ng-if="orderDetail.shipping_fee.type == '2' && (orderDetail.total - orderDetail.coupon.value - ((orderDetail.delivery_time == 'CHIEU')? (promotionForOrderDeleveryOnAffternoon.type
                    == 'PC' ? ((promotionForOrderDeleveryOnAffternoon.value/100) * orderDetail.total) : promotionForOrderDeleveryOnAffternoon.value
                    ) : 0 ) - (isFirstOder? ( promotionForFirstOrder.type == 'MN'? promotionForFirstOrder.value
                    :( (promotionForFirstOrder.value/100) * orderDetail.total) ): 0) )
                    
                     > 
                     
                     freeShipSuburb.value">
                        <label class="text-green"> <strong ng-bind="freeShipSuburb.description"></strong> </label>
                    </p>

                    <p>
                        <label>Số tiền cần thanh toán: </label>
                        <strong class="text-red">
                                [[((orderDetail.total + orderDetail.payment_info.info.shipping_fee) - orderDetail.coupon.value - ((orderDetail.delivery_time == 'CHIEU')? (promotionForOrderDeleveryOnAffternoon.type
                    == "PC" ? ((promotionForOrderDeleveryOnAffternoon.value/100) * orderDetail.total) : promotionForOrderDeleveryOnAffternoon.value
                    ) : 0 ) - (isFirstOder? ( promotionForFirstOrder.type == "MN"? promotionForFirstOrder.value
                    :( (promotionForFirstOrder.value/100) * orderDetail.total) ): 0) )| currency:"":0]]
                    
                            </strong>₫
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>