<div id="mod-order-list" class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Danh sách đơn hàng
            <small>Danh sách đơn hàng</small>
        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i>Trang chủ</a></li>
        </ol>
    </section>
    <canvas alt="" id="image" class="hidden"></canvas>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title pull-left">Danh sách đơn hàng</h3>
                        <div class="form-inline pull-right">
                            <div class="form-group form-group-item">
                                <button class="btn btn-success btn-flat" ng-click="vmOrL.exportExcel(vmOrL.list)" ng-show="vmOrL.queryParams.export" ng-disabled="vmOrL.btnExportExcel">
                                    Xuất Excel
                                </button>
                                <button class="btn btn-success btn-flat" ng-click="vmOrL.exportPDF()" ng-disabled="vmOrL.btnExportPDF">
                                    Xuất hóa đơn
                                </button>
                                <a class="btn btn-success btn-flat" ui-sref="order-add()" ng-show="vmOrL.showBtnAdd">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Nhập đơn hàng</span>
                                </a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">

                        <div class="row" ng-show="!vmOrL.loading">
                            <form name='filterForm' ng-submit='vmOrL.filterForm(filterForm)'>
                                <div class="col-xs-3">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <input type="number" class="form-control" placeholder="Từ" ng-model="vmOrL.filter.min_order" min="0">
                                        </div>
                                        <div class="col-xs-6">
                                            <input type="number" class="form-control" placeholder="Đến" ng-model="vmOrL.filter.max_order" min="0">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <select class="form-control" ng-model="vmOrL.queryParams.coupon" ng-options="coupon._id as coupon.code for coupon in vmOrL.listCoupon">
                                            <option value="">Mã giảm giá</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Ngày" ng-model="vmOrL.filter.date" id="datetime-picker" atr-date-time-picker
                                            atr-options="vmOrL.dateTimePickerOpt">
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <select class="form-control" ng-model="vmOrL.queryParams.status" ng-options="option.value as option.name for option in vmOrL.statusOrderList">
                                            <option value="">Trạng thái</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Họ tên, email, số điện thoại, Mã đơn hàng, Khách hàng"
                                            ng-model="vmOrL.queryParams.customer_name">
                                    </div>
                                </div>

                                <div class="col-xs-3">
                                    <button type="submit" class="btn btn-success btn-flat">
                                        <i class="fa fa-search"></i>
                                        <span>Filter</span>
                                    </button>
                                    <a href="" ng-click="vmOrL.clearFilter()" class="btn btn-default btn-flat">
                                        <i class="fa fa-undo "></i>
                                        <span></span> Reset
                                    </a>
                                </div>

                                <div class="clearfix"></div>
                        </div>
                        </form>
                    </div>

                    <div ng-show="vmOrL.loading" style="text-align: center;"><img src="/assets/loading.svg" alt=""></div>
                    <p ng-show="vmOrL.queryParams.export">
                        Thông tin mã phiếu: [[vmOrL.couponDetail.code]] - [[vmOrL.couponDetail.name]]
                    </p>

                    <script type="text/ng-template" id="headerCheckbox.html">
                        <label for="all-check">Tất cả</label>
                        <input id="all-check" i-check type="checkbox" ng-model="vmOrL.checkbox.selectAll" class="select-all" ng-change="vmOrL.selectAll()"
                        />
                    </script>

                    <table class="table table-condensed table-bordered table-striped" ng-table="vmOrL.table" ng-show="!vmOrL.loading">
                        <tr ng-repeat="(key,item) in $data">
                            <td style="text-align: center;" header="'headerCheckbox.html'">
                                <input type="checkbox" i-check id="checkbox_[[item._id]]" name="checkbox_[[item._id]]" ng-model="item.value_checkbox" />
                            </td>
                            <td data-title="'STT'">
                                <div class="col col-num" ng-bind="((vmOrL.queryParams.page - 1) * vmOrL.queryParams.limit) + $index + 1"></div>
                            </td>
                            <td data-title="'Mã đơn hàng'" >
                                <strong ng-bind="item.id_order"></strong> <br>
                                <em ng-if="item.old_id" ng-bind="'(ID cũ: ' + item.old_increment_id + ')'"></em>
                            </td>
                            <td data-title="'Khách hàng'" ng-bind="item.payment_info.info.full_name"></td>
                            <td data-title="'Email'" ng-bind="item.payment_info.info.email"></td>
                            <td data-title="'Điện thoại'" ng-bind="item.payment_info.info.phone"></td>
                            <td data-title="'Ngày giờ đặt hàng'" ng-bind="item.createdAt | bzFormatDate:'DD/MM/YYYY hh:mm:ss A'"></td>
                            <td data-title="'Địa chỉ giao hàng'">
                                <p ng-if="item.delivery_type=='CN'">
                                    [[item.payment_info.info.address]] <span ng-if="item.payment_info.info.district"> - [[item.payment_info.info.district]]</span>
                                </p>
                                <p ng-if="item.delivery_type=='CT'">
                                    Nhận tại công ty Mua Hàng Việt
                                </p>
                            </td>
                            <td data-title="'Phí vận chuyển'">
                                [[item.payment_info.info.shipping_fee | currency : '':0]] đ
                            </td>
                            <td data-title="'Phiếu giảm giá'">
                                <span ng-if="item.id_coupon">
                                        [[item.coupon.name]]
                                    </span>
                                <span ng-if="item.coupon.value > 0 && item.old_id">
                                        [[item.coupon.code]]
                                    </span>
                            </td>
                            <td data-title="'Tổng tiền'">
                                [[item.total_pay | currency : '':0]] đ
                            </td>
                            <td data-title="'Trạng thái'">
                                <label class="label" style="background-color: [[vmOrL.getStatusOrder(item).bgColor]];" ng-bind="vmOrL.getStatusOrder(item).name"></label>
                            </td>
                            <td data-title="'Hành động'">
                                <a ui-sref="order-edit({id: item.id_order})" ng-show="vmOrL.showBtnEdit" class="btn btn-default btn-flat">Chỉnh sửa</a>
                                <a href="" ng-click="vmOrL.detailOrderPop(item)" class="btn btn-default btn-flat">Chi tiết</a>
                                <a href="" ng-click="vmOrL.deleteOrder(item._id)" ng-show="vmOrL.showBtnDelete" class="btn btn-default btn-flat">Xóa</a>
                                <!--<a href="" ng-click="vmOrL.exportExcel([item])">Xuất</a>-->
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
</div>
<!-- /.row -->
</section>
<!-- /.content -->
</div>