<div id="pop-submit" class="bzPopup pop-signup">
	<div class="button-fb">
		<button class="btn btn-primary" ng-click="vmRegister.loginFacebook();" onclick="helperJsCustom.GA('send', 'event', 'Signup', 'ClickButtonSignupFacebook', '');">Đăng ký bằng Facebook</button>
	</div>
	<p class="text-center or"><span></span>Hoặc<span></span></p>
	<form novalidate name="frmRegister" ng-submit="vmRegister.register(frmRegister.$valid)">

		<div class="form-group" ng-class="{'error': (frmRegister.txtName.$error.required) && vmRegister.submitted }">

			<div class="msg-input user">
				<input type="text"  class="form-control" name="txtName" ng-model="vmRegister.formData.name" placeholder="Họ và tên" required>
			</div>
			<div ng-messages="frmRegister.txtName.$error" ng-if="vmRegister.submitted">
				<span class="message-error" ng-message="required">Vui lòng nhập họ và tên của bạn.</span>
			</div>
			
		</div>


		<div class="form-group " ng-class="{'error': (frmRegister.txtPhone.$error.required || frmRegister.txtPhone.$error.pattern || frmRegister.txtPhone.$error.minlength || frmRegister.txtPhone.$error.maxlength || vmRegister.err == 'phone'  ) && vmRegister.submitted }">

			<div class="msg-input phone">
				<input type="tel" class="form-control" id="txtPhone" name="txtPhone" ng-change="vmRegister.checkInput()" ng-model="vmRegister.formData.phone" ng-pattern="/^0[\d]{9,10}/" bz-input-only-digits ng-minlength="10" ng-maxlength="11"  required placeholder="Số điện thoại">
			</div>
			<div ng-messages="frmRegister.txtPhone.$error" ng-if="vmRegister.submitted">
				<span ng-message="required" class="message-error">Vui lòng nhập số điện thoại </span>
				<span ng-message="minlength" class="message-error">Bạn cần nhập ít nhất 10 số</span>
				<span ng-message="maxlength" class="message-error">Số điện thoại quá dài</span>
				<span ng-message="pattern" class="message-error">Vui lòng nhập số '0' đầu tiên</span>
			</div>
			<span class="message-error" ng-if="vmRegister.err == 'phone' && vmRegister.submitted">Số điện thoại này đã được đăng ký</span>
		</div>


		<div class="form-group " ng-class="{'error': (frmRegister.cfphone.$error.required || vmRegister.checkPhoneMatch(frmRegister.$valid) ) && vmRegister.submitted }">

			<div class="msg-input phone">
				<input type="tel" bz-input-number class="form-control" name="cfphone" ng-model="vmRegister.formData.cfphone" placeholder="Xác nhận số điện thoại"  required>
			</div>
			<div ng-messages="frmRegister.cfphone.$error" ng-if="vmRegister.submitted">
				<span class="message-error" ng-message="required">Xác nhận số điện thoại không khớp.</span>
			</div>
			<span class="message-error" ng-if="vmRegister.checkPhoneMatch() && !frmRegister.cfphone.$error.required">Xác nhận số điện thoại không khớp.</span> 
		</div>


		<div class="form-group" ng-class="{'error': ( frmRegister.txtEmail.$error.pattern || vmRegister.err == 'email' ) && vmRegister.submitted }">

			<div class="msg-input email">
				<input type="text" autocomplete="off" class="form-control" name="txtEmail" ng-change="vmRegister.checkInput()" ng-model="vmRegister.formData.email" placeholder="Email" ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/">
			</div>
			<div ng-messages="frmRegister.txtEmail.$error" ng-if="vmRegister.submitted">
				<span class="message-error" ng-message="pattern">Nhập email chưa đúng định dạng.</span>
			</div>
			<span class="message-error" ng-if="vmRegister.err == 'email' && vmRegister.submitted">Email này đã được đăng ký</span>
		</div>


		<div class="form-group" ng-class="{'error': ( frmRegister.txtPassword.$error.required || frmRegister.txtPassword.$error.minlength || vmRegister.err.status == 2 ) && vmRegister.submitted }">

			<div class="msg-input password">
				<input type="password" autocomplete="off" class="form-control" name="txtPassword" ng-model="vmRegister.formData.password" placeholder="Mật khẩu" ng-minlength="6"  required>
			</div>
			<div ng-messages="frmRegister.txtPassword.$error" ng-if="vmRegister.submitted">
				<span class="message-error" ng-message="required">Nhập mật khẩu ít nhất từ 6 kí tự.</span>
				<span class="message-error" ng-message="minlength">Nhập mật khẩu ít nhất từ 6 kí tự.</span>
			</div>
		</div>

		<p class="rule">Bằng việc đăng ký tài khoản, bạn đồng ý với các <a href="/chinh-sach-bao-mat" target="_blank">chính sách bảo mật</a> của Mua Hàng Việt</p>

		<button class="btn btn-primary" type="submit" ng-disabled="vmRegister.lockForm" onclick="helperJsCustom.GA('send', 'event', 'Signup', 'ClickButtonSubmitSignup', '');">Đăng ký</button>

		<div class="bot">
			<p>
				Bạn đã có tài khoản? <a ng-click="vmRegister.popLogin()" onclick="helperJsCustom.GA('send', 'event', 'Signup', 'ClickButtonLogin', '');">Đăng nhập</a>
			</p>
		</div>
	</form>
</div>



