#mod-product-add{
    .image-upload-section{
        img{
            width: 150px;
            height: 150px;
            cursor: pointer;
        }
        .image-item{
            display: inline-block;
            margin-right: 20px;
            position: relative;
            vertical-align: middle;
        }
        .btn-remove-image{
            position: absolute;
            top: 0;
            right: 0;
            display: none;
            font-size: 25px;
        }
        .image-item:hover{
            .btn-remove-image{
                display: block;
            }
        }
    }
    .related-image-section{
        img{
            width: 100px;
            height: 100px;
            margin-right: 20px;
        }
        .no-img{
            width: 100px;
            height: 100px;
            display: inline-block;
            background: #eeeeee;
            margin-right: 20px;
        }
    }
    .btn-remove-related-product{
        position: relative;
        top: 5px;
        margin-left: 10px;
        font-size: 25px;
    }
}