<div id="mod-category" class="module" data-module="category" data-ng-controller="categoryCtrl as vmCategory">
    <div class="container">
        {{#each data.banner_top_item}}
        <div class="banner">
            <a href="{{this.link}}">
                <img src="/files/banner_image/{{this.image}}" class="img-responsive" alt="">
            </a>
        </div>
        {{/each}}
        <div class="row">
            <!--Start: Left Sidebar-->
            <div class="col-xs-4 col-left">
                <!--Start: List category-->
                <div class="vegetables">
                    <h3>Danh mục khuyến mãi</h3>
                    <ul class="list-menu">
                        {{#each data.categories}}
                        <!--class="active" -->
                        <li>
                            <b class="is-open"></b>
                            <a href="/danh-muc/{{this.category.slug}}?sort=2" class="{{#if_eq this.category.slug ../data.category.slug}}active{{/if_eq}}">
                                <span>{{this.category.name}}</span>
                            </a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
                <!--End: List category-->
            </div>
            <!--End: Left Sidebar-->

            <!--Start: Right content-->
            <div class="col-xs-20 col-right">
                <!--Start : Tree link-->
                <div class="tree-link">
                    <a href="/">Trang chủ</a>
                    <span>></span>
                    <a href="/khuyen-mai">
                        Khuyến mãi
                    </a>
                </div>
                <!--End: Tree link-->

                <!--Start: Content-->
                <div class="search-result">
                    <!--Start: Top menu-->
                    <h1>
                        Khuyến mãi
                        <span class="many-proc">
                            ( {{data.products.length}} sản phẩm)
                        </span>
                    </h1>
                    <!--End: Top menu-->

                    {{> web/partials/category/products_list}}
                </div>
                <!--End: Content-->
            </div>
            <!--End: Right content-->
        </div>
        <div class="button"></div>
    </div>
</div>

<script>
    var data = {{{json data}}};
    var ga_category = {{{json ga_category}}};
</script>