
#mod-permission-list {
    .btn-del{
        margin-left: 10px;
        color: red;
    }
    .btn-delete{
        margin-left: 5px;
        color: red;
    }
    .btn-add{
        margin-left: 10px;
        color: blue;
    }
    .btn-edit{
        margin-left: 5px;
    }
}