<div class="container" data-ng-controller="vocabularyWebCtrl as vmLearn">
    <div class="row" ng-if="vmLearn.listVocabulary.length > 0">
        <div class="col-md-3 col-md-offset-1">
            <img ng-src="[[vmLearn.imgDir + vmLearn.word.images[0].url]]" alt="" class="img-word" />
        </div>

        <div class="col-md-7">
            <div class="content text-center">
                <span class="vocabulary" ng-bind="vmLearn.word.word"></span>
                <span class="define" ng-bind="vmLearn.word.define"></span>
                <span class="phienam" ng-bind="vmLearn.word.transcribe"></span>
                <div class="row more">
                    <div ng-click="vmLearn.speak()" class="col-md-6">
                        <div class="">
                            <img src="{{linkAssets 'button/sound.png'}}" alt="" class="img-sound-word">
                            <!--<input onclick=';' type='button' value='🔊 Play' />-->
                            <label class="control-label"> Cách đọc từ</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Loại từ: </label>
                        <span class="" ng-bind=" ' ' + vmLearn.word.classes"></span>
                    </div>
                    <div class="btn-div">
                        <button type="button" ng-click="vmLearn.prev()" ng-disabled="vmLearn.index == 0" class="btn btn-lg btn-block btn-warning btn-control">Từ trước</button>

                        <button type="button" ng-click="vmLearn.next()" ng-disabled="vmLearn.index == vmLearn.listVocabulary.length" class="btn btn-lg btn-block btn-success btn-control">Từ tiếp theo</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row" ng-if="vmLearn.listVocabulary.length == 0">
        <h4 class="text-center">Thật không may, bài học này chưa có dữ liệu</h4>
    </div>
</div>


<script>
    var vocabularys = {{{json vocabularys}}}

</script>
<style>
    .btn-arrow {
        text-align: center;
        margin-top: 19px;
    }
    
    .content {
        margin-bottom: 5%;
    }
    
    .img-word {
        width: 100%;
    }
    
    .img-button-word {
        width: 50px;
    }
    
    .more {
        margin-top: 20px;
    }
    
    .img-sound-word {
        width: 20px;
    }
    
    .vocabulary {
        display: inherit;
        margin-top: 4%;
        font-size: -webkit-xxx-large;
        color: seagreen;
    }
    
    .define {
        color: fuchsia;
        display: inherit;
        font-size: x-large;
    }
    
    .classes,
    .phienam {
        display: inherit;
        font-size: x-large;
    }
    
    button.btn-control {
        display: inline-block;
        width: 48%;
    }

    .btn-div{
        margin-top: 5%;
    }

    .btn-block + .btn-block {
        margin-top: 0;
    }
</style>