<div id="mod-coupon-add" class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Thêm mới phiếu giảm giá
        </h1>

        <ol class="breadcrumb">
            <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Phiếu giảm giá</a></li>
            <li class="active">Thêm mới</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Thêm mới</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <form novalidate id="frmCoupon" name="frmCoupon" ng-submit="vmAddCoupons.save(frmCoupon.$valid)">
                    <div class="box-body">
                        <!-- Toolbar -->
                        <div class="toolbar">
                            <div class="form-inline pull-right">
                                <div class="form-group form-action">
                                    <a ui-sref="coupon-list" class="btn btn-primary btn-flat">
                                        <i class="glyphicon glyphicon-remove"></i>
                                        <span>Hủy bỏ</span>
                                    </a>
                                    <button bz-submit type="submit" class="btn btn-success btn-flat btn-submit" ng-class="{'loading-btn': userEdit.lockForm}"
                                        ng-disabled="vmAddCoupons.lockForm">
										<i class="glyphicon glyphicon-floppy-disk" ng-if="!vmAddCoupons.lockForm"></i>
										<span>Lưu</span>
									</button>

                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <!-- End: Toolbar -->
                        <div class="row">
                            <div class="col-sm-10">

                                <div class="form-group">
                                    <label for="code">Mã phiếu giảm giá<span class="required">(*)</span></label>
                                    <div class="row">
                                        <div class="col-md-9">
                                            <input id="code" name="code" class="form-control" type="text" ng-model="vmAddCoupons.formData.code" ng-change="vmAddCoupons.upCase()"
                                                required />
                                        </div>
                                        <div class="col-md-3">
                                            <button class="btn btn-default" ng-click="vmAddCoupons.randomString()">
                                                <span>Lấy mã tự động</span>
                                            </button>
                                        </div>
                                        <div class="col-md-12 many-coupon">
                                            <a ng-click="vmAddCoupons.addManyCoupon()">Tạo nhiều mã coupon?</a>
                                        </div>
                                    </div>

                                    <div class="messages-error" ng-messages="frmCoupon.code.$error" ng-if="vmAddCoupons.submitted">
                                        <div ng-message="required">Bạn chưa nhập mã phiếu giảm giá</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="name">Tên phiếu giảm giá <span class="required">(*)</span></label>
                                    <input id="name" name="name" class="form-control" type="text" ng-model="vmAddCoupons.formData.name" ng-pattern="/[a-zA-Z0-9]/"
                                        required/>
                                    <div class="messages-error" ng-messages="frmCoupon.name.$error" ng-if="vmAddCoupons.submitted">
                                        <div ng-message="required">Bạn chưa nhập tên phiếu giảm giá</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="status">Trạng thái</label>
                                    <select class="form-control" name="status" id="status" ng-model="vmAddCoupons.formData.status">
                                        <option value="active">Active</option>
                                        <option value="inactive">Inactive</option> 
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="count">Số lần sử dụng</label>
                                    <select class="form-control" name="count" id="count" ng-model="vmAddCoupons.tmp_count">
                                        <option value="0">1 lần</option> 
                                        <option value="1">Nhiều lần</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <input i-check id="chkInternal" type="checkbox" ng-model="vmAddCoupons.formData.internal.is_internal" ng-true-value="true"
                                        ng-false-value="false">
                                    <label for="chkInternal">Áp dụng cho khoảng thời gian</label>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input type="text" name="date" ng-model="vmAddCoupons.formData.internal.start_date" ng-disabled="!vmAddCoupons.formData.internal.is_internal"
                                                    atr-date-time-picker atr-options="vmAddCoupons.optionTimePicker" class="form-control"
                                                    id="start_date" placeholder="thời gian bắt đầu">
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input type="text" ng-model="vmAddCoupons.formData.internal.end_date" ng-disabled="!vmAddCoupons.formData.internal.is_internal"
                                                    atr-date-time-picker atr-options="vmAddCoupons.optionTimePicker" class="form-control"
                                                    id="end_date" placeholder="thời gian kết thúc">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <input i-check id="chkMoney" name="sale" type="radio" ng-model="vmAddCoupons.tmp_sale" value="money" ng-change="vmAddCoupons.checkSale()">
                                            <label for="chkMoney">Giảm giá bao nhiêu </label>
                                            <div class="input-group">
                                                <input id="money_value" name="money_value" class="form-control" type="number" min="0" ng-model="vmAddCoupons.formData.sale.money_value"
                                                    ng-disabled="!vmAddCoupons.formData.sale.is_money" bz-input-number ng-required="vmAddCoupons.formData.sale.is_money"
                                                />
                                                <div class="input-group-addon">
                                                    <span>Đ</span>
                                                </div>
                                            </div>
                                            <div class="messages-error" ng-messages="frmCoupon.money_value.$error" ng-if="vmAddCoupons.submitted">
                                                <div ng-message="required">Bạn chưa nhập giá trị</div>
                                                <div ng-message="min">Giá trị phải >0</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <input i-check id="chkPrecent" name="sale" type="radio" ng-model="vmAddCoupons.tmp_sale" value="percent" ng-change="vmAddCoupons.checkSale()">
                                            <label for="chkPrecent">Giảm bao nhiêu %</label>
                                            <div class="input-group">
                                                <input id="percent_value" name="percent_value" class="form-control" type="number" ng-model="vmAddCoupons.formData.sale.percent_value"
                                                    ng-disabled="!vmAddCoupons.formData.sale.is_percent" bz-input-number min="0"
                                                    max="100" ng-required="vmAddCoupons.formData.sale.is_percent" />
                                                <div class="input-group-addon">
                                                    <span>%</span>
                                                </div>
                                            </div>

                                            <div class="messages-error" ng-messages="frmCoupon.percent_value.$error" ng-if="vmAddCoupons.submitted">
                                                <div ng-message="required">Bạn chưa nhập giá trị</div>
                                                <div ng-message="min">Giá trị phải từ 0->100</div>
                                                <div ng-message="max">Giá trị phải từ 0->100</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input i-check id="chkProduct" type="checkbox" ng-model="vmAddCoupons.formData.apply_product.is_product" ng-true-value="true"
                                        ng-false-value="false">
                                    <label for="chkProduct">Áp dụng cho loại sản phẩm</label>
                                    <br><br>
                                    <select class="form-group form-control" ui-select2 multiple ng-model="vmAddCoupons.formData.apply_product.products" ng-disabled="!vmAddCoupons.formData.apply_product.is_product"
                                        data-placeholder="Chọn sản phẩm">
                                        <option ng-repeat="value in vmAddCoupons.listCategory" value="[[value._id]]">[[value.name]]</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input i-check id="chkDistrict" type="checkbox" ng-model="vmAddCoupons.formData.apply_district.is_district" ng-true-value="true"
                                        ng-false-value="false">
                                    <label for="chkDistrict">Áp dụng cho địa chỉ giao hàng (quận)</label>
                                    <br><br>
                                    <select class="form-group" ui-select2 multiple ng-model="vmAddCoupons.formData.apply_district.district" ng-disabled="!vmAddCoupons.formData.apply_district.is_district"
                                        data-placeholder="Chọn địa chỉ">
                                        <option ng-repeat="value in vmAddCoupons.district" value="[[value._id]]">[[value.district]]</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <input i-check id="chkOrder" type="checkbox" ng-model="vmAddCoupons.formData.apply_order.is_order" ng-true-value="true" ng-false-value="false">
                                    <label for="chkOrder">Áp dụng cho order có giá từ</label>
                                    <br><br>
                                    <div class="input-group">
                                        <input id="money" name="money" class="form-control" type="number" ng-model="vmAddCoupons.formData.apply_order.money" bz-input-number
                                            ng-disabled="!vmAddCoupons.formData.apply_order.is_order" />
                                        <div class="input-group-addon">
                                            <span>Đ</span>
                                        </div>
                                    </div>
                                    <div class="messages-error" ng-messages="frmCoupon.money.$error" ng-if="vmAddCoupons.submitted">
                                        <div ng-message="min">Giá trị phải >0 </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <a ui-sref="coupon-list" class="btn btn-primary btn-flat">
                            <i class="glyphicon glyphicon-remove"></i>
                            <span>Hủy bỏ</span>
                        </a>
                        <button bz-submit type="submit" class="btn btn-success btn-flat btn-submit" ng-class="{'loading-btn': lockForm}" ng-disabled="vmAddCoupons.lockForm">
							<i class="glyphicon glyphicon-floppy-disk" ng-if="!vmAddCoupons.lockForm"></i>
							<span>Lưu</span>
						</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>