<!-- build:js vendor.min.js -->
<!-- bower:js -->
<script src="{{settings.services.admin}}/assets/admin/bower_components/jquery/dist/jquery.js"></script>
<script src="{{settings.services.admin}}/assets/admin/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="{{settings.services.admin}}/assets/admin/bower_components/jrespond/jRespond.js"></script>
<script src="{{settings.services.admin}}/assets/admin/bower_components/jquery-ui/jquery-ui.js"></script>
<script src="{{settings.services.admin}}/assets/admin/bower_components/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="{{settings.services.admin}}/assets/admin/bower_components/angular/angular.js"></script>
<script src="{{settings.services.admin}}/assets/admin/bower_components/angular-animate/angular-animate.js"></script>
<script src="{{settings.services.admin}}/assets/admin/bower_components/angular-messages/angular-messages.js"></script>
<script src="{{settings.services.admin}}/assets/admin/bower_components/angular-resource/angular-resource.js"></script>
<script src="{{settings.services.admin}}/assets/admin/bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="{{settings.services.admin}}/assets/admin/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="{{settings.services.admin}}/assets/admin/bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
<script src="{{settings.services.admin}}/assets/admin/bower_components/bz-popup/scripts/popup.js"></script>
<script src="{{settings.services.admin}}/assets/admin/bower_components/bz-popup/scripts/angular-popup.js"></script>
<script src="{{settings.services.admin}}/assets/admin/bower_components/is_js/is.js"></script>
<script src="{{settings.services.admin}}/assets/admin/bower_components/gnob/gnob.js"></script>
<script src="{{settings.services.admin}}/assets/admin/bower_components/cropper/dist/cropper.js"></script>
<script src="{{settings.services.admin}}/assets/admin/bower_components/moment/moment.js"></script>
<script src="{{settings.services.admin}}/assets/admin/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="{{settings.services.admin}}/assets/admin/bower_components/angular-daterangepicker/js/angular-daterangepicker.js"></script>
<script src="{{settings.services.admin}}/assets/admin/bower_components/angularjs-datetime-picker/angularjs-datetime-picker.js"></script>
<script src="{{settings.services.admin}}/assets/admin/bower_components/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.js"></script>
<script src="{{settings.services.admin}}/assets/admin/bower_components/lodash/lodash.js"></script>
<script src="{{settings.services.admin}}/assets/admin/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="{{settings.services.admin}}/assets/admin/bower_components/ng-file-upload/ng-file-upload.js"></script>
<script src="{{settings.services.admin}}/assets/admin/bower_components/ng-file-upload-shim/ng-file-upload-shim.js"></script>
<script src="{{settings.services.admin}}/assets/admin/bower_components/file-saver/FileSaver.js"></script>
<script src="{{settings.services.admin}}/assets/admin/bower_components/socket.io-client/dist/socket.io.js"></script>
<script src="{{settings.services.admin}}/assets/admin/bower_components/AdminLTE/dist/js/app.min.js"></script>
<script src="{{settings.services.admin}}/assets/admin/bower_components/AdminLTE/plugins/iCheck/icheck.min.js"></script>
<script src="{{settings.services.admin}}/assets/admin/bower_components/select2/select2.js"></script>
<script src="{{settings.services.admin}}/assets/admin/bower_components/angular-ui-select2/src/select2.js"></script>
<script src="{{settings.services.admin}}/assets/admin/bower_components/angular-slugify/angular-slugify.js"></script>
<script src="{{settings.services.admin}}/assets/admin/bower_components/angular-xeditable/dist/js/xeditable.js"></script>
<script src="{{settings.services.admin}}/assets/admin/bower_components/js-xlsx/dist/xlsx.core.min.js"></script>
<script src="{{settings.services.admin}}/assets/admin/bower_components/speakingurl/speakingurl.min.js"></script>
<script src="{{settings.services.admin}}/assets/admin/bower_components/angular-speakingurl/src/angular-speakingurl.js"></script>
<script src="{{settings.services.admin}}/assets/admin/bower_components/pdfmake/build/pdfmake.js"></script>
<script src="{{settings.services.admin}}/assets/admin/bower_components/pdfmake/build/vfs_fonts.js"></script>
<!-- endbower -->

<!-- Js Libs Manual-->
{{> admin/partials/link/script_manual}} 
<!-- endbuild -->

<!-- build:js main.min.js -->
<!-- Global, Utils:js -->
<script src="{{settings.services.admin}}/assets/admin/scripts/languages.js"></script>
<script src="{{settings.services.admin}}/assets/admin/scripts/variables.js"></script>
<script src="{{settings.services.admin}}/assets/admin/scripts/utils/datetime.js"></script>
<script src="{{settings.services.admin}}/assets/admin/scripts/utils/excel.js"></script>
<script src="{{settings.services.admin}}/assets/admin/scripts/utils/methods.js"></script>
<script src="{{settings.services.admin}}/assets/admin/scripts/utils/plugins.js"></script>
<script src="{{settings.services.admin}}/assets/admin/scripts/utils/prototypes.js"></script>
<script src="{{settings.services.admin}}/assets/admin/scripts/utils/sort.js"></script>
<script src="{{settings.services.admin}}/assets/admin/scripts/utils/storage.js"></script>
<!-- endinject -->

<!-- AngularJs:js -->
<script src="{{settings.services.admin}}/modules/admin-core/view/client/bootstrap.js"></script>
<script src="{{settings.services.admin}}/modules/z-share/angular/service.js"></script>
<script src="{{settings.services.admin}}/modules/z-share/angular/filter.js"></script>
<script src="{{settings.services.admin}}/modules/z-share/angular/directive.js"></script>
<script src="{{settings.services.admin}}/modules/z-share/angular/define.js"></script>
<script src="{{settings.services.admin}}/modules/admin-unit/view/client/config.js"></script>
<script src="{{settings.services.admin}}/modules/admin-user/view/client/config.js"></script>
<script src="{{settings.services.admin}}/modules/admin-test/view/client/config.js"></script>
<script src="{{settings.services.admin}}/modules/admin-tag/view/client/config.js"></script>
<script src="{{settings.services.admin}}/modules/admin-supplier/view/client/config.js"></script>
<script src="{{settings.services.admin}}/modules/admin-shippingfee/view/client/config.js"></script>
<script src="{{settings.services.admin}}/modules/admin-search/view/client/config.js"></script>
<script src="{{settings.services.admin}}/modules/admin-promotion/view/client/config.js"></script>
<script src="{{settings.services.admin}}/modules/admin-product/view/client/config.js"></script>
<script src="{{settings.services.admin}}/modules/admin-order/view/client/config.js"></script>
<script src="{{settings.services.admin}}/modules/admin-log/view/client/config.js"></script>
<script src="{{settings.services.admin}}/modules/admin-dashboard/view/client/config.js"></script>
<script src="{{settings.services.admin}}/modules/admin-coupon/view/client/config.js"></script>
<script src="{{settings.services.admin}}/modules/admin-auth/view/client/config.js"></script>
<script src="{{settings.services.admin}}/modules/admin-config/view/client/config.js"></script>
<script src="{{settings.services.admin}}/modules/admin-category/view/client/config.js"></script>
<script src="{{settings.services.admin}}/modules/admin-certificate/view/client/config.js"></script>
<script src="{{settings.services.admin}}/modules/admin-blog/view/client/config.js"></script>
<script src="{{settings.services.admin}}/modules/admin-acl/view/client/config.js"></script>
<script src="{{settings.services.admin}}/modules/admin-unit/view/client/define.js"></script>
<script src="{{settings.services.admin}}/modules/admin-user/view/client/define.js"></script>
<script src="{{settings.services.admin}}/modules/admin-search/view/client/define.js"></script>
<script src="{{settings.services.admin}}/modules/admin-product/view/client/define.js"></script>
<script src="{{settings.services.admin}}/modules/admin-order/view/client/define.js"></script>
<script src="{{settings.services.admin}}/modules/admin-acl/view/client/define.js"></script>
<script src="{{settings.services.admin}}/modules/admin-unit/view/client/service.js"></script>
<script src="{{settings.services.admin}}/modules/admin-user/view/client/service.js"></script>
<script src="{{settings.services.admin}}/modules/admin-test/view/client/service.js"></script>
<script src="{{settings.services.admin}}/modules/admin-tag/view/client/service.js"></script>
<script src="{{settings.services.admin}}/modules/admin-supplier/view/client/service.js"></script>
<script src="{{settings.services.admin}}/modules/admin-shippingfee/view/client/service.js"></script>
<script src="{{settings.services.admin}}/modules/admin-search/view/client/service.js"></script>
<script src="{{settings.services.admin}}/modules/admin-promotion/view/client/service.js"></script>
<script src="{{settings.services.admin}}/modules/admin-product/view/client/service.js"></script>
<script src="{{settings.services.admin}}/modules/admin-order/view/client/service.js"></script>
<script src="{{settings.services.admin}}/modules/admin-log/view/client/service.js"></script>
<script src="{{settings.services.admin}}/modules/admin-coupon/view/client/service.js"></script>
<script src="{{settings.services.admin}}/modules/admin-config/view/client/service.js"></script>
<script src="{{settings.services.admin}}/modules/admin-category/view/client/service.js"></script>
<script src="{{settings.services.admin}}/modules/admin-certificate/view/client/service.js"></script>
<script src="{{settings.services.admin}}/modules/admin-blog/view/client/service.js"></script>
<script src="{{settings.services.admin}}/modules/admin-acl/view/client/service.js"></script>
<script src="{{settings.services.admin}}/modules/admin-user/view/client/popup/change-pass/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-order/view/client/popup-order/detail-order/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-log/view/client/popup/detail-log/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-coupon/view/client/popup/add-many-coupon/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-unit/view/client/list-unit/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-unit/view/client/edit-unit/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-unit/view/client/add-unit/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-user/view/client/user-shipping/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-user/view/client/list-user/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-user/view/client/edit-profile/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-user/view/client/edit/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-test/view/client/test-resize/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-tag/view/client/tag-product/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-tag/view/client/tag-processing/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-tag/view/client/list-tag/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-tag/view/client/edit-tag/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-tag/view/client/create-tag/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-supplier/view/client/list-supplier/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-supplier/view/client/import-product-history/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-supplier/view/client/edit-supplier/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-supplier/view/client/add-supplier/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-shippingfee/view/client/list-shippingfee/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-shippingfee/view/client/edit-shippingfee/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-shippingfee/view/client/create-shippingfee/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-search/view/client/list-search/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-search/view/client/edit-search/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-search/view/client/add-search/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-promotion/view/client/list-promotion/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-promotion/view/client/edit-promotion/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-promotion/view/client/add-promotion/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-product/view/client/list-product/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-product/view/client/edit-product/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-product/view/client/add-product/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-order/view/client/report-order/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-order/view/client/list-order/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-order/view/client/edit-order/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-order/view/client/add-order/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-log/view/client/list/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-dashboard/view/client/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-coupon/view/client/list-coupon/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-coupon/view/client/edit-coupon/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-coupon/view/client/create-coupon/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-auth/view/client/login/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-config/view/client/list/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-config/view/client/edit/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-config/view/client/add/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-category/view/client/list-category/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-category/view/client/edit-category/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-category/view/client/add-category/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-certificate/view/client/list-certificate/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-certificate/view/client/create-certificate/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-certificate/view/client/edit-certificate/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-certificate/view/client/certificate-product/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-blog/view/client/list/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-blog/view/client/edit/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-blog/view/client/add/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-acl/view/client/list/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-acl/view/client/edit/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-acl/view/client/add/controller.js"></script>
<script src="{{settings.services.admin}}/modules/admin-unit/view/client/list-unit/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-unit/view/client/edit-unit/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-unit/view/client/add-unit/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-user/view/client/user-shipping/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-user/view/client/list-user/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-user/view/client/edit-profile/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-user/view/client/edit/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-test/view/client/test-resize/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-tag/view/client/tag-product/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-tag/view/client/tag-processing/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-tag/view/client/list-tag/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-tag/view/client/edit-tag/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-tag/view/client/create-tag/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-supplier/view/client/list-supplier/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-supplier/view/client/import-product-history/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-supplier/view/client/edit-supplier/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-supplier/view/client/add-supplier/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-shippingfee/view/client/list-shippingfee/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-shippingfee/view/client/edit-shippingfee/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-shippingfee/view/client/create-shippingfee/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-search/view/client/list-search/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-search/view/client/edit-search/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-search/view/client/add-search/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-promotion/view/client/list-promotion/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-promotion/view/client/edit-promotion/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-promotion/view/client/add-promotion/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-product/view/client/list-product/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-product/view/client/edit-product/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-product/view/client/add-product/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-order/view/client/report-order/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-order/view/client/list-order/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-order/view/client/edit-order/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-order/view/client/add-order/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-log/view/client/list/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-coupon/view/client/list-coupon/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-coupon/view/client/edit-coupon/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-coupon/view/client/create-coupon/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-config/view/client/list/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-config/view/client/edit/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-config/view/client/add/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-category/view/client/list-category/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-category/view/client/edit-category/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-category/view/client/add-category/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-certificate/view/client/list-certificate/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-certificate/view/client/edit-certificate/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-certificate/view/client/create-certificate/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-certificate/view/client/certificate-product/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-blog/view/client/list/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-blog/view/client/edit/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-blog/view/client/add/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-acl/view/client/list/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-acl/view/client/edit/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-acl/view/client/add/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-dashboard/view/client/router.js"></script>
<script src="{{settings.services.admin}}/modules/admin-core/view/client/router.js"></script>
<!-- endinject -->
<!-- endbuild -->